{*
 * Copyright (c) 2004-2016 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h2>{'Configure Tag List View'|gettext}</h2>
{control type="text" name="parent_tag" label="Parent Tag"|gettext value=$config.parent_tag description='Tag emphasized above tag list below'|gettext}
{control type="textarea" name="list" label="List of tags to display"|gettext rows=6 cols=45 value=$config.list description='One tag per line'|gettext}
{control type="checkbox" name="only_used" label="Only display tags being used?"|gettext checked=$config.only_used|default:0 value=1 description='Otherwise entire tag list above will be displayed'|gettext}
