body {
    padding     : 0;
    margin      : 0;
    position    : relative;
    font-family : "Arial", sans-serif;
    background  : #def5be;
}

h1 {
    margin       : 0;
    padding      : 5px 12px 5px 50px;
    border       : 1px solid #1E2D75;
    background   : #283A8C url(../images/filemanager.png) 12px 50% no-repeat;
    color        : #ffffff;
    border-width : 1px 0 3px 0;
    font-family  : "Trebuchet MS", sans-serif;
    font-size    : 24px;
}

/****************  filter  ***********************/

#autocomplete {
    padding : 10px;
}

#autocomplete label {
    display : block;
    color   : #1e2d75;
}

#dt_input {
    position   : relative;
    width      : 500px;
    height     : 20px;
    border     : 2px solid #698636;
    background : #ffffff;
}

/****************  button styles  ***********************/
#actionbar {
    padding    : 5px;
    position   : absolute;
    top        : 0;
    right      : 0;
    text-align : right;
}

#actionbar a span {
    padding  : 4px 0 4px 20px;
    display  : inline-block;
    position : relative;
}

#actionbar a.upload span {
    background : url(../images/upload.png) no-repeat 0 40%;
}

#actionbar a.select span {
    background : url(../images/select.gif) no-repeat 0 40%;
}

#actionbar a.back span {
    background : url(../images/back.png) no-repeat 0 40%;
}

/****************  pagination  ***********************/

#pagelinks {
    margin  : 0;
    padding : 5px 14px;
}

#pagelinks .yui-pg-first,
#pagelinks .yui-pg-previous,
#pagelinks .yui-pg-next,
#pagelinks .yui-pg-last,
#pagelinks .yui-pg-current,
#pagelinks .yui-pg-pages,
#pagelinks .yui-pg-page {
    display     : inline-block;
    font-family : arial, helvetica, clean, sans-serif;
    padding     : 3px 6px;
    zoom        : 1;
}

#pagelinks .yui-pg-pages {
    padding : 0;
}

#pagelinks .yui-pg-current {
    padding : 3px 0;
}

#pagelinks a.yui-pg-first:link,
#pagelinks a.yui-pg-first:visited,
#pagelinks a.yui-pg-first:active,
#pagelinks a.yui-pg-first:hover,
#pagelinks a.yui-pg-previous:link,
#pagelinks a.yui-pg-previous:visited,
#pagelinks a.yui-pg-previous:active,
#pagelinks a.yui-pg-previous:hover,
#pagelinks a.yui-pg-next:link,
#pagelinks a.yui-pg-next:visited,
#pagelinks a.yui-pg-next:active,
#pagelinks a.yui-pg-next:hover,
#pagelinks a.yui-pg-last:link,
#pagelinks a.yui-pg-last:visited,
#pagelinks a.yui-pg-last:active,
#pagelinks a.yui-pg-last:hover,
#pagelinks a.yui-pg-page:link,
#pagelinks a.yui-pg-page:visited,
#pagelinks a.yui-pg-page:active,
#pagelinks a.yui-pg-page:hover {
    color           : #06c;
    text-decoration : underline;
    outline         : 0;
}

#pagelinks span.yui-pg-first,
#pagelinks span.yui-pg-previous,
#pagelinks span.yui-pg-next,
#pagelinks span.yui-pg-last {
    color : #888888;
}

#pagelinks .yui-pg-page {
    background-color : #fff;
    border           : 1px solid #CBCBCB;
    padding          : 2px 6px;
    text-decoration  : none;
}

#pagelinks .yui-pg-current-page {
    background-color : transparent;
    border           : none;
    font-weight      : bold;
    padding          : 3px 6px;
}

#pagelinks .yui-pg-page {
    margin-left  : 1px;
    margin-right : 1px;
}

#pagelinks .yui-pg-first,
#pagelinks .yui-pg-previous {
    padding-left : 0;
}

#pagelinks .yui-pg-next,
#pagelinks .yui-pg-last {
    padding-right : 0;
}

#pagelinks .yui-pg-current,
#pagelinks .yui-pg-rpp-options {
    margin-left  : 1em;
    margin-right : 1em;
}

/****************  datatable  ***********************/

#dynamicdata,
#dataTableContainer,
#filelist {
    padding : 0 10px;
}

#dynamicdata table,
#dataTableContainer table,
#filelist {
    width : 100%;
}

.exp-skin .yui-dt-mask {
    position : absolute;
    z-index  : 9500;
}

.yui-dt-tmp {
    left     : -9000px;
    position : absolute;
}

.yui-dt-scrollable .yui-dt-bd {
    overflow : auto;
}

.yui-dt-scrollable .yui-dt-hd {
    overflow : hidden;
    position : relative;
}

.yui-dt-scrollable .yui-dt-bd thead tr,
.yui-dt-scrollable .yui-dt-bd thead th {
    left     : -1500px;
    position : absolute;
}

.yui-dt-scrollable tbody {
    moz-outline : none;
}

.exp-skin thead .yui-dt-sortable {
    cursor : pointer;
}

.exp-skin thead .yui-dt-draggable {
    cursor : move;
}

.yui-dt-coltarget {
    position : absolute;
    z-index  : 999;
}

.yui-dt-hd {
    zoom : 1;
}

th.yui-dt-resizeable .yui-dt-resizerliner {
    position : relative;
}

.yui-dt-resizer {
    background-color : #CCC;
    bottom           : 0;
    cursor           : col-resize;
    cursor           : e-resize;
    filter           : alpha(opacity = 0);
    height           : 100%;
    opacity          : 0;
    position         : absolute;
    right            : 0;
}

.yui-dt-resizerproxy {
    background-color : #CCC;
    filter           : alpha(opacity = 0);
    opacity          : 0;
    position         : absolute;
    visibility       : hidden;
    z-index          : 9000;
}

th.yui-dt-hidden .yui-dt-liner,
td.yui-dt-hidden .yui-dt-liner,
th.yui-dt-hidden .yui-dt-resizer {
    display : none;
}

.yui-dt-editor {
    position : absolute;
    z-index  : 9000;
}

.exp-skin .yui-dt table {
    border          : 1px solid #7F7F7F;
    border-collapse : collapse;
    border-collapse : separate;
    border-spacing  : 0;
    font-family     : arial;
    font-size       : inherit;
    margin          : 0;
    padding         : 0;
}

.exp-skin .yui-dt thead {
    border-spacing : 0;
}

.exp-skin .yui-dt caption {
    color       : #000;
    font-size   : 85%;
    font-style  : italic;
    font-weight : normal;
    line-height : 1;
    padding     : 1em 0;
    text-align  : center;
}

.exp-skin .yui-dt th {
    background : #D8D8DA url(../images/sprite.png) repeat-x 0 0;
}

.exp-skin .yui-dt th,
.exp-skin .yui-dt th a {
    color           : #fff;
    font-weight     : normal;
    text-decoration : none;
    vertical-align  : bottom;
}

.exp-skin .yui-dt th {
    border         : none;
    border-right   : 1px solid #CBCBCB;
    margin         : 0;
    padding        : 0;
    text-align     : left;
    vertical-align : top;
}

.exp-skin .yui-dt tr.yui-dt-first td {
    border-top : 1px solid #7F7F7F;
}

.exp-skin .yui-dt-liner {
    margin  : 0;
    padding : 0;
    padding : 4px 10px 4px 10px;
}

.exp-skin .yui-dt th .yui-dt-liner {
    white-space : nowrap;
    display     : inline-block;
    padding     : 0 10px 0 0;
    margin      : 5px 0 0 12px;
}

.exp-skin .yui-dt-coltarget {
    background-color : red;
    width            : 5px;
}

.exp-skin .yui-dt td {
    border       : none;
    border-right : 1px solid #CBCBCB;
    margin       : 0;
    padding      : 0;
    text-align   : left;
}

.exp-skin .yui-dt-list td {
    border-right : none;
}

.exp-skin .yui-dt-resizer {
    width : 6px;
}

.exp-skin .yui-dt-mask {
    background-color : #000;
    filter           : alpha(opacity = 25);
    opacity          : .25;
}

.exp-skin .yui-dt-message {
    background-color : #FFF;
}

.exp-skin .yui-dt-scrollable table {
    border : none;
}

.exp-skin .yui-dt-scrollable .yui-dt-hd {
    border-left  : 1px solid #7F7F7F;
    border-right : 1px solid #7F7F7F;
    border-top   : 1px solid #7F7F7F;
}

.exp-skin .yui-dt-scrollable .yui-dt-bd {
    background-color : #FFF;
    border-bottom    : 1px solid #7F7F7F;
    border-left      : 1px solid #7F7F7F;
    border-right     : 1px solid #7F7F7F;
}

.exp-skin .yui-dt-scrollable .yui-dt-data tr.yui-dt-last td {
    border-bottom : 1px solid #7F7F7F;
}

.exp-skin th.yui-dt-asc,
.exp-skin th.yui-dt-desc {
    background : url(../images/sprite.png) repeat-x 0 -100px;
}

.exp-skin th.yui-dt-sortable .yui-dt-label {
    margin-right : 10px;
}

.exp-skin th.yui-dt-asc .yui-dt-liner {
    background : url(../images/dt-arrow-up.png) no-repeat right;
}

.exp-skin th.yui-dt-desc .yui-dt-liner {
    background : url(../images/dt-arrow-dn.png) no-repeat right;
}

tbody .yui-dt-editable {
    cursor : pointer;
}

.yui-dt-editor {
    background-color : #F2F2F2;
    border           : 1px solid #808080;
    padding          : 6px;
    text-align       : left;
}

.yui-dt-editor label {
    padding-left  : 4px;
    padding-right : 6px;
}

.yui-dt-editor .yui-dt-button {
    padding-top : 6px;
    text-align  : right;
}

.yui-dt-editor .yui-dt-button button {
    background  : url(../images/sprite.png) repeat-x 0 0;
    border      : 1px solid #999;
    height      : 1.8em;
    margin-left : 6px;
    width       : 4em;
}

.yui-dt-editor .yui-dt-button button.yui-dt-default {
    background       : url(../images/sprite.png) repeat-x 0 -1400px;
    background-color : #5584E0;
    border           : 1px solid #304369;
    color            : #FFF;
}

.yui-dt-editor .yui-dt-button button:hover {
    background : url(../images/sprite.png) repeat-x 0 -1300px;
    color      : #000;
}

.yui-dt-editor .yui-dt-button button:active {
    background : url(../images/sprite.png) repeat-x 0 -1700px;
    color      : #000;
}

.exp-skin tr.yui-dt-even {
    background-color : #d8f2b4;
}

.exp-skin tr.yui-dt-odd {
    background-color : #c0da9c;
}

.exp-skin tr.yui-dt-even td.yui-dt-asc,
.exp-skin tr.yui-dt-even td.yui-dt-desc {
    background-color : #cde5ab;
}

.exp-skin tr.yui-dt-odd td.yui-dt-asc,
.exp-skin tr.yui-dt-odd td.yui-dt-desc {
    background-color : #b1c98f;
}

.exp-skin .yui-dt-list tr.yui-dt-even {
    background-color : #FFF;
}

.exp-skin .yui-dt-list tr.yui-dt-odd {
    background-color : #FFF;
}

.exp-skin .yui-dt-list tr.yui-dt-even td.yui-dt-asc,
.exp-skin .yui-dt-list tr.yui-dt-even td.yui-dt-desc {
    background-color : #EDF5FF;
}

.exp-skin .yui-dt-list tr.yui-dt-odd td.yui-dt-asc,
.exp-skin .yui-dt-list tr.yui-dt-odd td.yui-dt-desc {
    background-color : #EDF5FF;
}

.exp-skin th.yui-dt-highlighted,
.exp-skin th.yui-dt-highlighted a {
    background-color : #B2D2FF;
}

.exp-skin tr.yui-dt-highlighted,
.exp-skin tr.yui-dt-highlighted td.yui-dt-asc,
.exp-skin tr.yui-dt-highlighted td.yui-dt-desc,
.exp-skin tr.yui-dt-even td.yui-dt-highlighted,
.exp-skin tr.yui-dt-odd td.yui-dt-highlighted {
    background-color : #B2D2FF;
    cursor           : pointer;
}

.exp-skin .yui-dt-list th.yui-dt-highlighted,
.exp-skin .yui-dt-list th.yui-dt-highlighted a {
    background-color : #B2D2FF;
}

.exp-skin .yui-dt-list tr.yui-dt-highlighted,
.exp-skin .yui-dt-list tr.yui-dt-highlighted td.yui-dt-asc,
.exp-skin .yui-dt-list tr.yui-dt-highlighted td.yui-dt-desc,
.exp-skin .yui-dt-list tr.yui-dt-even td.yui-dt-highlighted,
.exp-skin .yui-dt-list tr.yui-dt-odd td.yui-dt-highlighted {
    background-color : #B2D2FF;
    cursor           : pointer;
}

.exp-skin th.yui-dt-selected,
.exp-skin th.yui-dt-selected a {
    background-color : #446CD7;
}

.exp-skin tr.yui-dt-selected td,
.exp-skin tr.yui-dt-selected td.yui-dt-asc,
.exp-skin tr.yui-dt-selected td.yui-dt-desc {
    background-color : #426FD9;
    color            : #FFF;
}

.exp-skin tr.yui-dt-even td.yui-dt-selected,
.exp-skin tr.yui-dt-odd td.yui-dt-selected {
    background-color : #446CD7;
    color            : #FFF;
}

.exp-skin .yui-dt-list th.yui-dt-selected,
.exp-skin .yui-dt-list th.yui-dt-selected a {
    background-color : #446CD7;
}

.exp-skin .yui-dt-list tr.yui-dt-selected td,
.exp-skin .yui-dt-list tr.yui-dt-selected td.yui-dt-asc,
.exp-skin .yui-dt-list tr.yui-dt-selected td.yui-dt-desc {
    background-color : #426FD9;
    color            : #FFF;
}

.exp-skin .yui-dt-list tr.yui-dt-even td.yui-dt-selected,
.exp-skin .yui-dt-list tr.yui-dt-odd td.yui-dt-selected {
    background-color : #446CD7;
    color            : #FFF;
}

/****************  file info links  ***********************/

a.fileinfo {
    color           : #1e2d75;
    text-decoration : none;
    display         : block;
    background      : url(../images/info.png) no-repeat 0 50%;
    padding         : 2px 0 2px 24px;
}

a.fileinfo:hover {
    color           : #333333;
    text-decoration : underline;
}

/****************  file info links panel  ***********************/

.yui-overlay, .yui-panel-container {
    position   : absolute;
    visibility : hidden;
    z-index    : 2;
}

.yui-panel {
    position : relative;
}

.yui-panel-container form {
    margin : 0;
}

.mask {
    bottom   : 0;
    display  : none;
    left     : 0;
    position : absolute;
    right    : 0;
    top      : 0;
    z-index  : 1;
}

.mask.block-scrollbars {
    overflow : auto;
}

.masked select, .drag select, .hide-select select {
    _visibility : hidden;
}

.yui-panel-container select {
    _visibility : inherit;
}

.hide-scrollbars, .hide-scrollbars * {
    overflow : hidden;
}

.hide-scrollbars select {
    display : none;
}

.show-scrollbars {
    overflow : auto;
}

.yui-panel-container.show-scrollbars, .yui-tt.show-scrollbars {
    overflow : visible;
}

.yui-panel-container.show-scrollbars .underlay, .yui-tt.show-scrollbars .yui-tt-shadow {
    overflow : auto;
}

.yui-panel-container.shadow .underlay.yui-force-redraw {
    padding-bottom : 1px;
}

.yui-effect-fade .underlay, .yui-effect-fade .yui-tt-shadow {
    display : none;
}

.yui-tt-shadow {
    position : absolute;
}

.yui-override-padding {
    padding : 0 !important;
}

.yui-panel-container .container-close {
    overflow        : hidden;
    text-decoration : none;
    text-indent     : -10000em;
}

.yui-overlay.yui-force-redraw, .yui-panel-container.yui-force-redraw {
    margin-bottom : 1px;
}

.exp-skin .mask {
    background-color : #000;
    filter           : alpha(opacity = 25);
    opacity          : .25;
}

.exp-skin .yui-panel-container {
    padding : 0 1px;
    padding : 2px;
}

.exp-skin .yui-panel {
    _zoom        : normal;
    border-color : #ffffff;
    border-style : solid;
    border-width : 1px 0;
    border-width : 1px;
    left         : 0;
    position     : relative;
    top          : 0;
    z-index      : 1;
    zoom         : 1;
}

.exp-skin .yui-panel .hd, .exp-skin .yui-panel .bd, .exp-skin .yui-panel .ft {
    border       : 0;
    border-color : #ffffff;
    border-style : solid;
    border-width : 0 1px;
    margin       : 0 -1px;
    margin       : 0;
}

.exp-skin .yui-panel .hd {
    border-bottom : solid 1px #222266;
}

.exp-skin .yui-panel .bd, .exp-skin .yui-panel .ft {
    background-color : #F2F2F2;
}

.exp-skin .yui-panel .hd {
    background  : url(../images/sprite.png) repeat-x 0 0px;
    color       : #fff;
    font-size   : 93%;
    font-weight : bold;
    line-height : 1.9;
    line-height : 2;
    padding     : 0 10px;
}

.exp-skin .yui-panel .bd {
    padding : 0px;
}

.exp-skin .yui-panel .bd table.wrapper {
    height : 100%;
}

.exp-skin .yui-panel .bd table table {
    margin : 0;
}

/*.exp-skin .yui-panel .bd table td.file div {*/
    /*overflow : auto;*/
    /*height   : 100%;*/
    /*width    : 480px;*/
/*}*/

.exp-skin .yui-panel .bd .image {
    overflow : auto;
    height   : 100%;
    width    : 480px;
}

.exp-skin .yui-panel .bd table td.info {
    width       : 300px;
    background  : #D8F2B4;
    border-left : 1px solid #213A81;
}

.exp-skin .yui-panel .bd table td {
    vertical-align : top;
    padding        : 0px;
    font-size      : 12px;
}

.exp-skin .yui-panel .bd table table td {
    vertical-align : top;
    padding        : 3px 5px;
    font-size      : 12px;
}

.exp-skin .yui-panel .bd table tr.odd {
    background : #d8f2b4;
}

.exp-skin .yui-panel .bd table tr.even {
    background : #c0da9c;
}

.exp-skin .yui-panel .bd table td span {
    display : block;
    color   : #555;
}

.exp-skin .yui-panel .ft {
    border-top : solid 1px #808080;
    font-size  : 77%;
    padding    : 5px 10px;
}

.exp-skin .container-close {
    background : url(../images/close.png) no-repeat 0 0;
    cursor     : pointer;
    height     : 16px;
    width      : 16px;
    position   : absolute;
    right      : 6px;
    top        : 6px;
    width      : 25px;
}

.exp-skin .yui-panel-container .underlay {
    left  : -1px;
    right : -1px;
}

.exp-skin .yui-panel-container.matte {
    background-color : #fff;
    padding          : 9px 10px;
}

.exp-skin .yui-panel-container.shadow {
    _padding : 2px 4px 0 2px;
}

.exp-skin .yui-panel-container.shadow .underlay {
    _bottom          : 0;
    _left            : 0;
    _margin-left     : -1px;
    _margin-top      : 3px;
    _right           : 0;
    _top             : 0;
    background-color : #000;
    bottom           : -1px;
    bottom           : -3px;
    filter           : alpha(opacity = 12);
    left             : -1px;
    left             : -3px;
    opacity          : .12;
    position         : absolute;
    right            : -1px;
    right            : -3px;
    top              : 2px;
    top              : 4px;
}

/****************  message queue  ***********************/
.msg-queue {
    margin : 10px;
}

#filelist {
    margin-top : 15px;
}

#uploadFilesButtonContainer, #selectFilesButtonContainer, #overallProgress {
    display : inline-block;
    margin-right: 22px;
}

#selectFilesButtonContainer {
    display : inline-table;
}

#overallProgress, #btnProgress, #btnStop {
    float : right;
}

.yellowBackground {
    background : #F2E699;
}

.serverdata {
    font-size : 0.8em;
}

input.text {
    font-size:114%;
	padding:5px;
	border:1px solid #D3D3D3;
       -moz-box-shadow: inset 0px 0px 4px #dedede;
    -webkit-box-shadow: inset 0px 0px 4px #dedede;
            box-shadow: inset 0px 0px 4px #dedede;
               -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
}

.control {
    display: inline;
}

.control .label{
    display:block;
    font-size:114%;
    margin-bottom:4px;
	margin-right:5px;
    font-weight:bold;
}

a.pause,
a.resume,
a.stop,
a.stop-one {
    padding:3px 3px 3px 20px;
    display:inline-block;
    zoom:1;
    text-transform:capitalize;
}

a.pause {
    background: url(../images/pause.png) no-repeat 0 50%;
}

a.resume {
    background: url(../images/start.png) no-repeat 0 50%;
}

a.stop, a.stop-one {
    background: url(../images/stop.png) no-repeat 0 50%;
}

td.filesize.error {
	color : red;
	font-weight: bold;
}