<?php
define("LANGUAGE",'English - US');
define("ENABLE_TRACKING",'0');
define("TRACKING_COOKIE_EXPIRES",'30');
define("TRACKING_ARCHIVE_DELAY",'24');
define("TRACKING_ARCHIVE_TIME",'180');
define("SMTP_FROMADDRESS",'website@mysite.org');
define("SMTP_USE_PHP_MAIL",'0');
define("SMTP_SERVER",'localhost');
define("SMTP_PORT",'25');
define("SMTP_PROTOCOL",'');
define("SMTP_USERNAME",'');
define("SMTP_PASSWORD",'');
define("SMTP_DEBUGGING",'0');
define("SITE_TITLE",'Exponent CMS - A Powerful, Flexible, and Intuitive Web Solution.');
define("SITE_HEADER",'Exponent CMS');
define("ORGANIZATION_NAME",'Exponent CMS');
define("SITE_KEYWORDS",'exponent cms');
define("SITE_DESCRIPTION",'exponent');
define("SITE_DEFAULT_SECTION",'1');
define("SITE_404_TITLE",'Page Not Found');
define("SITE_404_HTML",exponent_unhtmlentities('The page you were looking for wasn&#039;t found.  It may have been moved or deleted.'));
define("SITE_403_REAL_HTML",exponent_unhtmlentities('&lt;h3&gt;Authorization Failed&lt;/h3&gt;You are not allowed to perform this operation.'));
define("ADVERTISE_RSS",'0');
define("SITE_WYSIWYG_EDITOR",'ckeditor');
define("SESSION_TIMEOUT_ENABLE",'1');
define("SESSION_TIMEOUT",'7200');
define("SESSION_TIMEOUT_HTML",exponent_unhtmlentities('&lt;h3&gt;Expired Login Session&lt;/h3&gt;Your session has expired, because you were idle too long.  You will have to log back into the system to continue what you were doing.'));
define("ENABLE_SSL",'0');
define("DISABLE_SSL_WARNING",'0');
define("FILE_DEFAULT_MODE_STR",'0666');
define("DIR_DEFAULT_MODE_STR",'0770');
define("HELP_ACTIVE",'1');
define("HELP_URL",'http://docs.exponentcms.org/');
define("FORCE_ECOM",'0');
define("ECOM_CURRENCY",'USD');
define("SKIP_VERSION_CHECK",'0');
define("SIMPLENOTE_REQUIRE_LOGIN",'1');
define("SIMPLENOTE_REQUIRE_APPROVAL",'0');
define("SIMPLENOTE_REQUIRE_NOTIFICATION",'1');
define("SIMPLENOTE_NOTIFICATION_EMAIL",'');
define("SEF_URLS",'1');
define("SAVE_SEARCH_QUERIES",'1');
define("TOP_SEARCH",'10');
define("INCLUDE_AJAX_SEARCH",'0');
define("INCLUDE_ANONYMOUS_SEARCH",'0');
define("SITE_ALLOW_REGISTRATION",'0');
define("USER_REGISTRATION_USE_EMAIL",'0');
define("USER_REGISTRATION_SEND_NOTIF",'0');
define("USER_REGISTRATION_NOTIF_SUBJECT",'New User Registration From Website');
define("USER_REGISTRATION_ADMIN_EMAIL",'');
define("USER_REGISTRATION_SEND_WELCOME",'0');
define("USER_REGISTRATION_WELCOME_SUBJECT",'Welcome to our website!');
define("USER_REGISTRATION_WELCOME_MSG",'');
define("USER_NO_PASSWORD_CHANGE",'0');
define("MINIFY",'0');
define("MINIFY_MAXAGE",'180000');
define("MINIFY_URL_LENGTH",'1500');
define("MINIFY_MAX_FILES",'30');
define("MINIFY_ERROR_LOGGER",'0');
define("MINIFY_INLINE_CSS",'1');
define("MINIFY_LINKED_CSS",'1');
define("MINIFY_INLINE_JS",'1');
define("MINIFY_LINKED_JS",'1');
define("MINIFY_YUI3",'0');
define("MINIFY_YUI2",'0');
define("MAINTENANCE_MODE",'0');
define("MAINTENANCE_MSG_HTML",exponent_unhtmlentities('This site is currently down for maintenance.'));
define("DEVELOPMENT",'0');
define("LOGGER",'0');
define("USE_LDAP",'0');
define("LDAP_SERVER",'not_configured');
define("LDAP_BASE_DN",'not_configured');
define("LDAP_BIND_USER",'not_configured');
define("LDAP_BIND_PASS",'not_configured');
define("HTMLTOPDF_PATH",'');
define("HTMLTOPDF_PATH_TMP",'');
define("HTMLTOPDF_OUTPUT",'0');
define("FM_THUMBNAILS",'0');
define("FM_THUMB_SIZE",'48');
define("FM_WIDTH",'1024');
define("FM_HEIGHT",'600');
define("FM_LIMIT",'25');
define("FM_SIMLIMIT",'3');
define("SLINGBAR_TOP",'1');
define("DISPLAY_THEME_REAL",'bootstraptheme');
define("FORCE_MOBILE",'0');
define("THEME_STYLE_REAL",'');
define("DISPLAY_ATTRIBUTION",'username');
define("DISPLAY_DATETIME_FORMAT",'%m/%d/%y %I:%M%p');
define("DISPLAY_DATE_FORMAT",'%m/%d/%y');
define("DISPLAY_TIME_FORMAT",'%I:%M%p');
define("DISPLAY_START_OF_WEEK",'0');
define("DISPLAY_DEFAULT_TIMEZONE",'UTC');
define("THUMB_QUALITY",'75');
define("INVERT_HIDE_TITLE",'0');
define("DB_TABLE_PREFIX",'exponent');
define("DB_USER",'mysql_user');
define("DB_PASS",'mysql_password');
define("DB_NAME",'exponent');
define("DB_HOST",'localhost');
define("DB_PORT",'3306');
define("DB_ENCODING",'utf8');
define("COMMENTS_REQUIRE_LOGIN",'1');
define("COMMENTS_REQUIRE_APPROVAL",'1');
define("COMMENTS_REQUIRE_NOTIFICATION",'1');
define("COMMENTS_NOTIFICATION_EMAIL",'');
define("DEFAULT_AVATAR",'PATH_RELATIVE."framework/modules/users/assets/images/avatar_not_found.jpg"');
define("SITE_USE_ANTI_SPAM",'1');
define("ANTI_SPAM_USERS_SKIP",'0');
define("ANTI_SPAM_CONTROL",'0');
define("RECAPTCHA_THEME",'clean');
define("RECAPTCHA_PUB_KEY",'');
define("RECAPTCHA_PRIVATE_KEY",'');
define("DB_ENGINE",'mysqli');
?>