/****************  showall  ***********************/

.photoalbum.showall ul.image-list {
    padding:0;
    margin:0;
}

.photoalbum.showall ul.image-list li {
    display:inline-block;
    zoom:1;
    *display:inline;
    margin:5px 5px 0 0;
    padding:3px;
    text-align:center;
    position:relative;
}

.photoalbum.showall ul li div.item-actions {
    display:none;
}

.photoalbum.showall ul li:hover div.item-actions {
    display:block;
    position:absolute;
    top:5px;
    left:5px;
    padding:3px;
}

.photoalbum.showall ul li .item-actions a {
    display:block;
    text-align:left;
}

.photoalbum.showall ul li em {
    display:block;
}

/****************  show  ***********************/

.photoalbum.show img.img-large.float-right {
    margin-left:20px;
}

.photoalbum.show img.img-large.float-left {
    margin-right:20px;
}

.photoalbum.show .next-prev {
    padding:5px 0;
}


