ul .slideshow-frame-ex li.slide {
	list-style: none;
}

.slide > img,
.slide > a > img {
  width: 100%;
}

.slideshow-container ul {
	margin : 0;
	padding : 0;
	padding-left: 0;
}

.slideshow-frame-ex .item-actions {
    position:absolute;
    left:5px;
    bottom:5px;
    z-index:5;
	display: none;
}

.slideshow-frame-ex:hover .item-actions {
	display: block;
}

.slideshow-frame-ex .item-actions a {
    display:block;
}

.owl-carousel {
    position: relative;
}
.owl-theme .owl-nav {
     margin-top: 0!important;
}
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    /*margin-top: -10px;*/
}
.owl-prev i,
.owl-next i {
    margin-top: 4px;
    font-size: 40px!important;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.owl-carousel .owl-nav {
    display: none;
}
.owl-carousel:hover .owl-nav {
    display: block;
}
