ul .slideshow-frame-ex li.slide,
ul.slideshow-frame-ex li.slide {
	list-style: none;
}

.slide > img,
.slide > a > img {
  width: 100%;
}

.slideshow-container ul {
	margin : 0;
	padding : 0;
	/*padding-left: 0;*/
}

.slideshow-frame-ex .item-actions {
    position:absolute;
    left:5px;
    bottom:5px;
    z-index:5;
	display: none;
}

.slideshow-frame-ex:hover .item-actions {
	display: block;
}

.slideshow-frame-ex .item-actions a {
    display:block;
}

.owl-carousel {
    position: relative;
}
.owl-theme .owl-nav {
     margin-top: 0!important;
}
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    /*margin-top: -10px;*/
}
.owl-prev i,
.owl-next i {
    margin-top: 4px;
    font-size: 40px!important;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.owl-carousel .owl-nav {
    display: none;
}
.owl-carousel:hover .owl-nav {
    display: block;
}

/* title/body caption overlay*/
.owl-text-overlay {
    position: absolute;
    text-align: center;
    width: 80%;
    /*top: 66%;*/
    bottom: 12px;
    /*transform: translateY(-50%);*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    /*background: rgba(0, 0, 0, 0.4);*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*font-family: "Open Sans", sans-serif;*/
    border-radius: 12px;
}

h2.owl-title {
    /*font-size:48px;*/
    /*font-weight:bold;*/
    /*margin-bottom:20px;*/
    margin-bottom: 12px;
}

.owl-text-overlay p {
    /*font-size:18px;*/
    /*line-height:24px;*/
    margin-bottom: 0;
}
