[submodule "external/dompdf"]
	path = external/dompdf
	url = git@github.com:exponentcms/dompdf.git
[submodule "themes/basetheme"]
	path = themes/basetheme
	url = git@github.com:exponentcms/basetheme.git
[submodule "themes/coolwatertheme"]
	path = themes/coolwatertheme
	url = git@github.com:exponentcms/coolwatertheme.git
[submodule "themes/multioptionstheme"]
	path = themes/multioptionstheme
	url = git@github.com:exponentcms/multioptionstheme.git
[submodule "themes/retrotheme"]
	path = themes/retrotheme
	url = git@github.com:exponentcms/retrotheme.git
