
# Excludes all files within the ./ files directory
#/files/*

# Excludes the site's configuration file
/framework/conf/config.php

# Excludes cache files
/tmp/*

# Excludes Eclipse Project files
.buildpath
.project

# Excludes NetBeans Project files
/.settings/

# Excludes PHPStorm Project files
/.idea/

.gitignore
.mailmap