.filemanager.control .filelist {
    margin:0;
    padding:0 0 2px 0;
	border:1px solid #D3D3D3;
       -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
            border-radius: 4px; 
    background:#fff;
    display:inline-block;
}

.filemanager.control .hd {
    position:relative;
}

.filemanager.control .hd em {
    padding-right:10px;
    
}

.yui3-dd-proxy, 
.filemanager.control .filelist li {
    text-align:left;
    margin:0;
    padding:0;
	list-style:none;
       -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
            border-radius: 4px; 
	border:1px solid #dedede;
	padding:2px 6px;
	margin:2px 2px 0 24px;
	cursor:move;
	position:relative;
	background:#efefef;
	display:inline-block;
	float:left;
	clear:both;
}

.yui3-dd-proxy {
    text-align:left;
    margin:0;
    padding:0;
	list-style:none;
       -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
            border-radius: 4px; 
   -moz-box-shadow: 1px 1px 4px #555; 
-webkit-box-shadow: 1px 1px 4px #555; 
        box-shadow: 1px 1px 4px #555; 
	border:1px solid #555;
	padding:2px 6px;
	margin:2px 2px 0 24px;
	cursor:move;
	position:relative;
	background:#aaa;
	display:inline-block;
	float:left;
	clear:both;
}

.filemanager.control .filelist li.blank {
    text-align:left;
    margin:0;
    padding:0;
	list-style:none;
       -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
            border-radius: 4px; 
	border:1px solid #dedede;
	padding:6px 12px;
	margin:2px 2px 0 2px;
	cursor:move;
	position:relative;
	background:#efefef;
	display:inline-block;
}

.filemanager.control .filelist li.blank {
    text-align:left;
    margin:0;
    padding:0;
	list-style:none;
       -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
            border-radius: 4px; 
	border:1px solid #dedede;
	padding:6px 12px;
	margin:2px 2px 0 2px;
	cursor:move;
	position:relative;
	background:#efefef;
	display:inline-block;
}

.yui3-dd-proxy .delete,
.filemanager.control .filelist li .delete {
    position:absolute;
    left:-20px;
    top:4px;
    text-indent:-99px;
    overflow:hidden;
    width:18px;
    height:18px;
    padding:0;
}

.yui3-dd-proxy .delete {
    display:none;
}

.yui3-dd-proxy .filepic,
.filemanager.control .filelist li .filepic {
    float:left;
    border:1px solid #333;
}

.yui3-dd-proxy .filename,
.filemanager.control .filelist li .filename {
    display:block;
    padding:5px 0;
    margin-left:30px;
}

a.quick-upload-disabled {
    color: #808080!important;
}

.filemanager.control .filembox {
	/*display: block;*/
	overflow: hidden;
	clear:    both;
}

.filemanager.control .filebox {
	/*display: inline;*/
	float: left;
	padding-bottom: 1000px;
    margin-bottom:  -1000px;
}

.filemanager.control .progressbox {
    /*width: 200px;*/
	/*display: inline;*/
	float: left;
	padding-bottom: 1000px;
    margin-bottom:  -1000px;
}

.filemanager.control .progressbox .name, .filemanager.control .progressbox .size {
    display: inline;
	padding-right: 12px;
}

.filemanager.control .progress {
    overflow: hidden;
	background-color: #D5D5D5;
	background-image: none;
	background-repeat: repeat-x;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	height: 21px;
	margin-bottom: 21px;
	overflow: hidden;
}

.filemanager.control .progress .bar {
    -moz-box-sizing: border-box;
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}

/*
.filemanager.control .hd {
    height:24px;
    border:1px solid #b7c0b0;
    background:url(attachable_hd.png) repeat-x;
}
.filemanager.control .hd strong {
    margin-left:5px;
}
.filemanager.control .hd em {
    margin-left:5px;
    font-size:80%;
}
.filemanager.control .hd .add {
    position:absolute;
    right:5px;
    top:3px;
    color:#6e7569;
    padding-left:20px;
    background:url(add.png) no-repeat 3px 50%;
}

.filemanager.control ul  {
    margin:0;
    padding:0;
}

.filemanager.control ul li {
    margin:0;
    padding:0;
    list-style:none!important;
    position:relative;
    height:30px;
    border-top:1px solid #b7c0b0;
    background:url(af-sprite.png) 0 0 repeat-x;
    cursor:move;
}

.filemanager.control ul li a.deletelinks,
.yui-dd-proxy a.deletelinks {
    position:absolute;
    right:10px;
    top:10px;
}


.filemanager.control ul li .filepic,
.yui-dd-proxy .filepic {
    position:absolute;
    top:5px;
    left:5px;
    height:15px;
    width:15px;
    border:1px solid #777;
}

.filemanager.control ul li .filename,
.yui-dd-proxy .filename {
    position:absolute;
    top:5px;
    color:#333;
    font-size:90%;
    left:30px;
    margin-right:30px;
    height:15px;
    overflow:hidden;
}

.filemanager .tbhd strong  {
    display:block;
    text-align:center;
    padding:2px;
    font-style:italic;
    
}


*/