@import "../../../../core/assets/less/exponent";

.exp-container-chrome { 
	border:1px solid #0061a0;
//	.background-image(linear-gradient(to bottom, #4bc1fe 0%,#0061a0 100%));
	.linear-gradient(top, #4bc1fe,#0061a0);
	.border-radius(5px);
	// .box-shadow(0 1px 0px rgba(20,20,20,0.5));
	// .opacity(0.5);
	ul.dropdown-menu {
		top: 17px;
//		left: 17px;
	}
	.exp-trigger {
		text-transform: uppercase;
		color: #fff;
		font-size: .8em;
		display:inline-block;
		padding: 4px 8px;
		text-shadow: 1px 1px 0px #000;
		&:hover, &:focus, &:active {
			color: #fff;
			.linear-gradient(top, #30adec,#0180ca);
		}
		&:focus, &:active {
//			.background-image(linear-gradient(to bottom, #30adec 0%,#0180ca 100%));
			.linear-gradient(top, #30adec,#0180ca);
		}
	}
	&.exp-container-chrome-container {

	}
	&.exp-container-chrome-module {
		border:1px solid #2b7328;
//		.background-image(linear-gradient(to bottom, #4fc64a 0%,#2b7328 100%));
		.linear-gradient(top, #4fc64a,#2b7328);
		.exp-trigger {
			&:hover, &:focus, &:active {
//				.background-image(linear-gradient(to bottom, #4fc64a 0%,#389335 100%));
				.linear-gradient(top, #50C04B,#389335);
			}
		}
	}
	&.exp-container-chrome-module.hardcoded-chrome {
		border:1px solid #74151e;
//		.background-image(linear-gradient(to bottom, #e27c86 0%,#74151e 100%));
		.linear-gradient(top, #e27c86,#74151e);
		.exp-trigger {
			&:hover, &:focus, &:active {
//				.background-image(linear-gradient(to bottom, #e27c86 0%,#74151e 100%));
				.linear-gradient(top, #D06C76,#88151E);
			}
		}
	}
}

.exp-addmodule-link {
	text-align: center;
	display: block;
	color: #3d5c39;
	font-weight: bold;
	padding:5px;
	border:1px dashed #64855f;
	margin: 5px;
	background: #c1d9bf;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 0px #fff;
	.opacity(0.5);
	.border-radius(5px);
//	.transition(background 0.15s ease-out, color 0.15s ease-out, text-shadow 0.15s ease-out, opacity 0.15s ease-out, border 0.15s ease-out);
	.transition(all 0.15s ease-out);
	&:hover {
		.opacity(1);
		// background: lighten(#c1d9bf, 10%);
		color: #fff;
		text-shadow: 1px 1px 4px rgba(0,0,0,0.15);
		border:1px solid #64855f;
	}
}

.exp-container-chrome ul.dropdown-menu li {
	list-style: none;
}

.exp-container-chrome.hardcoded-chrome ul.dropdown-menu {
	top: inherit;
	left: inherit;
}

.navbar-nav .open .exp-container-chrome ul.dropdown-menu {
    background-color: white;
}