/****************  Basic styles for the store showall ***********************/

.store.showall .prod-listing {
    border-bottom:1px dotted #010101;
    padding-bottom:10px;
    margin-bottom:10px;
}

.store.showall .ecom-image  {
    position:relative;
    float:left;
    border:1px solid #999999;
    overflow:hidden;
    margin-right:10px;
}

.store.showall-toplevel li.inactive a,
.store.showall div.inactive a.cat-img h3 {
    color:red!important;
}


/****************  Profile Page  ***********************/
.store.quick-links h1 {
    margin:10px 0 0 0;
    padding:0;

}
.store.quick-links ul {
    margin:5px 0 0 0;
    padding:0;

}

.store.quick-links li {
    margin:0;
    padding:3px 0;
    list-style:none!important;
}



