{*
 * Copyright (c) 2004-2013 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h2>{'Configure Default Navigation View'|gettext}</h2>
{control type="checkbox" name="allhierarchy" label="Show entire menu hierarchy?"|gettext checked=$config.allhierarchy value=1}
{control type="checkbox" name="showtop" label="Show top level menu?"|gettext checked=$config.showtop value=1}
{control type="checkbox" name="showparents" label="Show parents?"|gettext checked=$config.showparents value=1}
{control type="checkbox" name="showsiblings" label="Show siblings?"|gettext checked=$config.showsiblings value=1}
{control type="checkbox" name="showchildren" label="Show children?"|gettext checked=$config.showchildren value=1}
{control type="checkbox" name="showgrandchildren" label="Show grandchildren, etc...?"|gettext checked=$config.showgrandchildren value=1}
{control type="checkbox" name="showcurrent" label="Display current page name at top?"|gettext checked=$config.showcurrent value=1}
{control type="checkbox" name="styledepth" label="Stylize page depth level?"|gettext checked=$config.styledepth value=1}
{control type="checkbox" name="markcurrent" label="Highlight current page?"|gettext checked=$config.markcurrent value=1}

{script unique="showall-navigation" yui3mods=1}
{literal}
YUI(EXPONENT.YUI3_CONFIG).use('node', function(Y) {
    var allhierarchy = Y.all('#allhierarchy.checkbox');
    var showtop = Y.all('#showtop.checkbox');
    var showparents = Y.all('#showparents.checkbox');
    var showsiblings = Y.all('#showsiblings.checkbox');
    var showchildren = Y.all('#showchildren.checkbox');
    var showgrandchildren = Y.all('#showgrandchildren.checkbox');
    var showcurrent = Y.all('#showcurrent.checkbox');

    allhierarchy.on('click',function(e){
        if(e.target.get('checked')&&!e.target.get('disabled')){
            showtop.set('checked',1);
            showtop.set('disabled',1);
            showparents.set('checked',1);
            showparents.set('disabled',1);
            showsiblings.set('checked',1);
            showsiblings.set('disabled',1);
            showchildren.set('checked',1);
            showchildren.set('disabled',1);
            showgrandchildren.set('checked',1);
            showgrandchildren.set('disabled',1);
            showcurrent.set('checked',0);
            showcurrent.set('disabled',1);
        } else {
            showtop.set('checked',0);
            showtop.set('disabled',0);
            showparents.set('checked',0);
            showparents.set('disabled',0);
            showsiblings.set('checked',0);
            showsiblings.set('disabled',0);
            showchildren.set('checked',0);
            showchildren.set('disabled',0);
            showgrandchildren.set('checked',0);
            showgrandchildren.set('disabled',0);
            showcurrent.set('disabled',0);
        }
    });
    showgrandchildren.on('click',function(e){
        if(e.target.get('checked')&&!e.target.get('disabled')){
            showchildren.set('checked',1);
            showchildren.set('disabled',1);
        } else {
            showchildren.set('checked',0);
            showchildren.set('disabled',0);
        }
    });
    showtop.on('click',function(e){
        if(e.target.get('checked')&&!e.target.get('disabled')){
            showparents.set('checked',1);
            showparents.set('disabled',1);
        } else {
            showparents.set('checked',0);
            showparents.set('disabled',0);
        }
    });
    showgrandchildren.each(function(target){
        if(target.get('checked')&&!target.get('disabled')){
            showchildren.set('checked',1);
            showchildren.set('disabled',1);
        }
    });
    showtop.each(function(target){
        if(target.get('checked')&&!target.get('disabled')){
            showparents.set('checked',1);
            showparents.set('disabled',1);
        }
    });
    allhierarchy.each(function(target){
        if(target.get('checked')&&!target.get('disabled')){
            showtop.set('checked',1);
            showtop.set('disabled',1);
            showparents.set('checked',1);
            showparents.set('disabled',1);
            showsiblings.set('checked',1);
            showsiblings.set('disabled',1);
            showchildren.set('checked',1);
            showchildren.set('disabled',1);
            showgrandchildren.set('checked',1);
            showgrandchildren.set('disabled',1);
            showcurrent.set('checked',0);
            showcurrent.set('disabled',1);
        }
    });
});
{/literal}
{/script}
