{*
 * Copyright (c) 2004-2012 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h2>{'Configure Mega-Menu View'|gettext}</h2>
{control type="text" name="height" label="Dropdown Height - Maximum number of menu items per column"|gettext size=3 filter=integer value=$config.height default=6 description="0 = favor max width instead of max height"|gettext}
{control type="text" name="maxwidth" label="Dropdown Width - Maximum number of columns wide"|gettext size=3 filter=integer value=$config.maxwidth default=3 description="Enter 1 to 5"|gettext}
{control type="checkbox" name="usetitle" label="Use Page Title instead of Page Name?"|gettext checked=$config.usetitle value=1}
{control type="checkbox" name="usedesc" label="Display Page Description?"|gettext checked=$config.usedesc value=1}
{*control type=dropdown name=imagealign label="Align Image"|gettext items="Left, Right"|gettxtlist values="left,right" value=$config.imagealign|default:'left'*}
