.portfolio.showall .thumb-imgs {
    float:left;
    display:block;
    border:1px solid #333;
    margin-right:10px;
    padding:3px;
    background:#dedede;
}
.portfolio.showall .thumb-imgs img {
    display:block;
}

.portfolio.showall img {
    display:block;
}
