/* announcement view for news module */
.news.announcement h2,
.news.announcement h3,
.news.announcement h4,
.news.announcement h5,
.news.announcement h6 {
	text-align : center;
}

.news.announcement .item.announcement {
	background-color      : #ffed9f;
	color                 : black;
	padding-left          : 20px;
	margin                : 0 10px 20px;
	border                : 4px;
	border-style          : solid;
	border-color          : #000000;
	border-radius         : 10px;
	-moz-border-radius    : 10px;
	-webkit-border-radius : 10px;
	display               : block;
	-webkit-box-shadow    : 0px 0px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow       : 0px 0px 8px rgba(0, 0, 0, 0.5);
	box-shadow            : 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.news.announcement .item.announcement.featured {
	background-color: #ffd3c9;
}

/*.news.announcement .item-actions a {*/
	/*color : #60a165 !important;*/
/*}*/
