{*
 * Copyright (c) 2004-2008 OIC Group, Inc.
 * Written and Designed by Adam Kessler
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h3>Show all Images View Settings</h3>

{control type=text name="pa_showall_thumbbox" label="Box size of image thumbnails" value=$config.pa_showall_thumbbox|default:100 size="5"}
{control type=text name="pa_showall_enlarged" label="Max height or width for enlarged images" value=$config.pa_showall_enlarged|default:300 size="5"}
{control type=text name="limit" label="Images per page" value=$config.pa_showall_ipr|default:5 size="5"}

