{*
 * Copyright (c) 2004-2011 OIC Group, Inc.
 * Written and Designed by Adam Kessler
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h3>Slideshow View Settings</h3>
{control type=text name="width" label="Slideshow Width" value=$config.width|default:350 size="5"}
{control type=text name="height" label="Slideshow Height" value=$config.height|default:200 size="5"}
{control type=text name="speed" label="Seconds per slide" value=$config.speed|default:5 size="5"}
{control type=text name="quality" label="Slide Thumbnail JPEG Quality (0 - 95, 100)<br><small>If quality is set to 100, the raw image will be used instead of thumbnailing</small>" value=$config.quality|default:$smarty.const.THUMB_QUALITY size="5"}
{control type=checkbox name="hidetext" label="Hide Title and Body text in slides" checked=$config.hidetext value=1}

{*control type=dropdown name="pa_slideshow_anim" 
items="Fade,Slide Right,Slide Left,Slide Up,Reveal Left,Reveal Right,Reveal up,Reveal Down" 
values="fadeOut,slideRight,slideLeft,slideUp,squeezeLeft,squeezeRight,squeezeUp,squeezeDown" label="Animation Type" value=$config.pa_slideshow_anim}

<h4>Configure the box size of the Slideshow frame</h4>
{control type=text name="pa_slideshow_width" label="Slideshow Width" value=$config.pa_slideshow_width|default:100 size="5"}
{control type=text name="pa_slideshow_height" label="Slideshow Height" value=$config.pa_slideshow_height|default:100 size="5"}

<h4>Configure the box size the Slideshow images</h4>
{control type=text name="pa_image_width" label="Image Width" value=$config.pa_image_width|default:100 size="5"}
{control type=text name="pa_image_height" label="Image Height" value=$config.pa_image_height|default:100 size="5"}

<h4>Show or hide Slideshow Controls</h4>
{control type=checkbox name="pa_show_controls" label="Show Slideshow Controls" checked=$config.pa_show_controls value=1*}

