/* the menubar <div> */
.navigationmodule #yuimenubar.yuimenubar {
	visibility:visible;
	position:static;
	border:solid 0px #808080;
	font-family:"Trebuchet MS",Verdana;
	font-size:93%;
    font-weight:bold;
   	font-size:12px;
	height:40px;
	line-height:2;
	*line-height:1.9;  /* for ie 6 and 7 */
	background:url(../images/menu.jpg) repeat-x 0 0;
	padding-left:5px;
	z-index:20;
}

/* the menubar's <li> tag */
.navigationmodule #yuimenubar.yuimenubar .yuimenubaritem{
}
/* the menubar's <li> tag */
.navigationmodule .yuimenubaritem-selected{
	background:url(../skins/coolwater/sprite.png) repeat-x 0 -1701px;
}

/* the menubar's <a> tag when not hovered */
.navigationmodule #yuimenubar.yuimenubarnav .yuimenubaritemlabel{
	padding:5px 10px 0 10px;
	color:#fff;
	text-decoration:none;
	font-size:140%;
	cursor:default;
	*position:relative;
	height:35px;
}

/* the menubar's <a> tag when hovered */
.navigationmodule #yuimenubar.yuimenubarnav .yuimenubaritemlabel-selected{
	color:#fff;
}

/* the wrapping <div> around a drop menu with the .bd class */
.navigationmodule .yuimenu .bd{
	border:solid 1px #62951c;
	background-color:#d7e8c4;
	padding:5px 0;
}

/* The <li> tag of a menu (not menubar) */
.navigationmodule .yuimenu .yuimenuitem{
	_border-bottom:solid 1px #d7e8c4; /* Gotta love some IE6! ...  or not.  Make this the same as the .bd of your menu */
}

/* The hovered state of the <li> tag of a menu (not menubar) */
.navigationmodule .yuimenuitem-selected{
	background-color:#2c553d;
}

/* The <a> tag of a menu (not menubar) */
.navigationmodule .yuimenuitemlabel{
	padding:2px 20px;
	color:#000;
	text-decoration:none;
	cursor:pointer;
}

/* The hovered state of the <li> tag of a menu (not menubar) */
.navigationmodule .yuimenuitemlabel-selected{
	color:#fff!important;
	cursor:pointer;
	text-decoration:none!important;
}

.navigationmodule .yuimenu .yuimenu,
.navigationmodule #yuimenubar.yuimenubar .yuimenu{
	visibility:hidden;
	position:absolute;
	top:-10000px;
	left:-10000px;
}

.navigationmodule #yuimenubar.yuimenubar li,
.navigationmodule .yuimenu li{
	list-style-type:none;
}

.navigationmodule #yuimenubar.yuimenubar ul,
.navigationmodule .yuimenu ul,
.navigationmodule #yuimenubar.yuimenubar li,
.navigationmodule .yuimenu li,
.navigationmodule .yuimenu h6,
.navigationmodule #yuimenubar.yuimenubar h6{
	margin:0;
	padding:0;
}

.navigationmodule .yuimenuitemlabel,
.navigationmodule .yuimenubaritemlabel{
	text-align:left;
	white-space:nowrap;
}

.navigationmodule #yuimenubar.yuimenubar ul{
	*zoom:1;
}

.navigationmodule #yuimenubar.yuimenubar .yuimenu ul{
	*zoom:normal;
}

.navigationmodule #yuimenubar.yuimenubar>.bd>ul:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	line-height:0;
}

.navigationmodule .yuimenubaritem{
	float:left;
}

.navigationmodule .yuimenubaritemlabel,
.yuimenuitemlabel{
	display:block;
}

.navigationmodule .yuimenuitemlabel .helptext{
	font-style:normal;
	display:block;
	margin:-1em 0 0 10em;
}

.navigationmodule .yui-menu-shadow{
	position:absolute;
	visibility:hidden;
	z-index:-1;
}

.navigationmodule .yui-menu-shadow-visible{
	top:2px;
	right:-3px;
	left:-3px;
	bottom:-3px;
	visibility:visible;
}

.navigationmodule .hide-scrollbars *{
	overflow:hidden;
}

.navigationmodule .hide-scrollbars select{
	display:none;
}

.navigationmodule .yuimenu.show-scrollbars,
.navigationmodule #yuimenubar.yuimenubar.show-scrollbars{
	overflow:visible;
}

.navigationmodule .yuimenu.hide-scrollbars .yui-menu-shadow,
.navigationmodule #yuimenubar.yuimenubar.hide-scrollbars .yui-menu-shadow{
	overflow:hidden;
}

.navigationmodule .yuimenu.show-scrollbars .yui-menu-shadow,
.navigationmodule #yuimenubar.yuimenubar.show-scrollbars .yui-menu-shadow{
	overflow:auto;
}

.navigationmodule #yuimenubar.yuimenubarnav .yuimenubaritem{

}

.navigationmodule #yuimenubar.yuimenubarnav .yuimenubaritemlabel{
	padding-right:20px;
	*display:inline-block;
}

.navigationmodule #yuimenubar.yuimenubarnav .yuimenubaritemlabel-hassubmenu{
	background:url(../skins/coolwater/menubaritem_submenuindicator.png) right center no-repeat;
}

.navigationmodule .yuimenubaritemlabel-disabled{
	cursor:default;
	color:#A6A6A6;
}

.navigationmodule #yuimenubar.yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled{
	background-image:url(../skins/coolwater/menubaritem_submenuindicator_disabled.png);
}

.navigationmodule .yuimenu{
	font-size:93%;
	line-height:1.5;
	*line-height:1.45;
}

.navigationmodule #yuimenubar.yuimenubar .yuimenu,
.navigationmodule .yuimenu .yuimenu{
	font-size:100%;
}

.navigationmodule .yuimenu ul{
	padding:3px 0;
	border-width:0px;
}

.navigationmodule .yuimenu ul.first-of-type{
	border-width:0;
}

.navigationmodule .yuimenu h6{
	font-weight:bold;
	border-style:solid;
	border-color:#ccc;
	border-width:1px 0 0 0;
	color:#a4a4a4;
	padding:3px 10px 0 10px;
}

.navigationmodule .yuimenu ul.hastitle,
.navigationmodule .yuimenu h6.first-of-type{
	border-width:0;
}

.navigationmodule .yuimenu .yui-menu-body-scrolled{
	border-color:#ccc #808080;
	overflow:hidden;
}

.navigationmodule .yuimenu .topscrollbar,
.navigationmodule .yuimenu .bottomscrollbar{
	height:16px;
	border:solid 1px #808080;
	background:#fff url(../skins/coolwater/sprite.png) no-repeat 0 0;
}

.navigationmodule .yuimenu .topscrollbar{
	border-bottom-width:0;
	background-position:center -950px;
}

.navigationmodule .yuimenu .topscrollbar_disabled{
	background-position:center -975px;
}

.navigationmodule .yuimenu .bottomscrollbar{
	border-top-width:0;
	background-position:center -850px;
}

.navigationmodule .yuimenu .bottomscrollbar_disabled{
	background-position:center -875px;
}

.navigationmodule .yuimenuitemlabel .helptext{
	margin-top:-1.5em;
	*margin-top:-1.45em;
}

.navigationmodule .yuimenuitem-hassubmenu{
	background-image:url(../skins/coolwater/menuitem_submenuindicator.png);
	background-position:right center;
	background-repeat:no-repeat;
}

.navigationmodule .yuimenuitem-checked{
	background-image:url(../skins/coolwater/menuitem_checkbox.png);
	background-position:left center;
	background-repeat:no-repeat;
}

.navigationmodule .yui-menu-shadow-visible{
	background-color:#000;
	opacity:.12;
	*filter:alpha(opacity=12);
}

.navigationmodule .yuimenuitemlabel-disabled{
	cursor:default;
	color:#A6A6A6;
}

.navigationmodule .yuimenuitem-hassubmenu-disabled{
	background-image:url(../skins/coolwater/menuitem_submenuindicator_disabled.png);
}

.navigationmodule .yuimenuitem-checked-disabled{
	background-image:url(../skins/coolwater/menuitem_checkbox_disabled.png);
}
