/* search form */



.searchmodule.searchdefault form {
	background-color: transparent;
	border: none;	
	margin: 0; 
	padding: 5px 0 5px 0;	
}
.searchmodule.searchdefault p { 
	margin: 0; 
	padding: 0; 
}

.searchmodule.searchdefault input.text { 
	width: 110px;
	color: #777; 
	height: 20px;
	padding: 2px;	
	border: 1px solid #D2E8F7; 
	float:left;
}
.searchmodule.searchdefault input.button { 
	width: 55px;
	height: 26px;
	margin:0 0 0 3px;
}

