

.textmodule.top-links {
	text-align:right;
	margin:0!important;
}
.textmodule.top-links .bodycopy,
.textmodule.top-links .bodycopy p {
	margin:0px;
	padding:0;
}

.textmodule.top-links .itemactions,
.textmodule.top-links .modulepermissions {
	float:left;
}

