div.weblogmodule.summary .item .attribution {
	font-weight: bold;
}

div.weblog_comment_odd {
  background-color: #eeeeee;
  border-top: 1px solid #0060b6;
  border-bottom: 1px solid #0060b6;
  padding: 10px;
}

div.weblog_comment_even {
  padding: 10px;
}

div.weblog_comment_body {
  font-size: 10px;
  margin-bottom: 15px;
  text-align:left;
}

div.weblog_comment_attribution {
  text-align:left;
}

div.weblog_comment_title {
  font-size: 10px;
  text-align:left;
}

div.comments {
  text-align: right;
  font-size: 10px;
  margin-bottom: 30px;
}
