<h2>Display Single Category</h2>
<p>
    If you would like to only display the contents of one category you can select that here.
    If you do not choose a category, all products and categories will be displayed.
</p>
{control type=dropdown name=category label="Category to Display" frommodel=storeCategory display=title key=id includeblank="-- Select a Category" value=$config.category}
