<h2>{'Display Single Category'|gettext}</h2>
<p>
    {'If you would like to only display the contents of one category you can select that here.'|gettext}{br}
    {'If you do not choose a category, all products and categories will be displayed.'|gettext}
</p>
{control type=dropdown name=category label="Category to Display" frommodel=storeCategory display=title key=id includeblank="-- Select a Category" value=$config.category}
