{*
 * Copyright (c) 2004-2013 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h2>{'Configure Toggle View'|gettext}</h2>
{control type="checkbox" name="show_collapsed" label="Initially display as collapsed?"|gettext checked=$config.show_collapsed|default:0 value=1}
{*control type=text name="summary_height" label="Summary Height"|gettext value=$config.summary_height|default:0 size="3"*}
{control type="checkbox" name="show_summary" label="Show Summary when Collapsed?"|gettext value=1 checked=$config.show_summary}
