{*
 * Copyright (c) 2004-2023 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h2>{'Configure Show All Records Portfolio View'|gettext}</h2>
{group label='User can Filter Records'|gettext}
    {control type="checkbox" name="order_dropdown" label="Display a dropdown for user to limit records?"|gettext value=1 checked=$config.order_dropdown}
    {control type=text name='order_dropdown_text' label='Limit records Dropdown label'|gettext value=$config.order_dropdown_text|default:'Limit Records to'|gettext}
    {control type=text name='order_dropdown_all' label='All records label'|gettext value=$config.order_dropdown_all|default:'(All)'|gettext}
{/group}
{group label='Group Records'|gettext}
    {control type="checkbox" name="usecategories" label="Group on 'sort records by' in Report tab?"|gettext value=1 checked=$config.usecategories}
    {control type="dropdown" name="order2" label="THEN Sort records by"|gettext items=array_merge(array(''=>'(None)'),$fields) value=$config.order2|default:'id'}
    {control type=radiogroup name='dir2' label='Sorting Direction'|gettext default=$config.dir2|default:0 items='Ascending,Descending'|gettxtlist values='0,1'}
{/group}
{control type="text" name="no_records_msg" label="No Records Message"|gettext value=$config.no_records_msg|default:'No Records Found'|gettext description='Message to display if there are no records'|gettext}
{if !empty($fieldlist)}
    {$addconf = "fieldinsert_list : $fieldlist"}
{else}
    {$addconf = "fieldinsert_list : ''"}
{/if}
{control type=editor name='report_def_showall' label='Custom Showall View Template'|gettext value=$config.report_def_showall rows=10 cols=60
    plugin="fieldinsert" additionalConfig=$addconf
    description="Leave blank to use the Report 'Custom E-Mail and Single Item View Template', or if empty the 'Multi-Record Tabular View Configuration'.  Use 'Fields' dropdown to insert fields"}

{script unique="on-off" jquery=1}
{literal}
$(document).ready(function(){
    var toggleControl1 = function (o) {
        //check if checkbox is checked
        if ($(o).is(':checked')) {
            $('#order_dropdown_text').removeAttr('disabled'); //enable input
            $('#order_dropdown_all').removeAttr('disabled'); //enable input
        } else {
            $('#order_dropdown_text').attr('disabled', true); //disable input
            $('#order_dropdown_all').attr('disabled', true); //disable input
        }
    };

    toggleControl1($('#order_dropdown'));

    $('#order_dropdown').click(function () {
        toggleControl1(this);
     });

    var toggleControl2 = function (o) {
        //check if checkbox is checked
        if ($(o).is(':checked')) {
            $('#order2').removeAttr('disabled'); //enable input
            $('#dir2_0').removeAttr('disabled'); //enable input
            $('#dir2_1').removeAttr('disabled'); //enable input
        } else {
            $('#order2').attr('disabled', true); //disable input
            $('#dir2_0').attr('disabled', true); //disable input
            $('#dir2_1').attr('disabled', true); //disable input
        }
    };

    toggleControl2($('#usecategories'));

    $('#usecategories').click(function () {
        toggleControl2(this);
     });
});
{/literal}
{/script}