{*
 * Copyright (c) 2004-2016 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h2>{'Configure Show All Records Portfolio View'|gettext}</h2>
{control type="text" name="no_records_msg" label="No Records Message"|gettext value=$config.no_records_msg|default:'No Records Found'|gettext description='Message to display if there are no records'|gettext}
