
/***  GENERAL CART STYLES  ***********/
#cartbox {
    border:1px solid #8E8E8E;
}

/****************  cart head  ***********************/
#cart-top {
	height:38px;
	position:relative;
	background: url(../images/cart_hd_bg.png) repeat-x;
}

#cart-top .cart-total-label {
	padding:10px 0 0 10px;
}

#cart-top .cart-total-label .carttotal {
	font-weight:bold;
	margin:0;
}

#cart-top .checkout-now-btn {
	position:absolute;
	right:0;
	top:0;
}
#cart-top .checkout-now-btn img {
	float:left;
}

/****************  cart body  ***********************/
.no-items {
    background:#D4D4D4;
    text-align:center;
    padding:5px;
}

#cart {
    margin-bottom:0;
}

#cart th {
	background-image: url(../skin/ecom/cart_th_bg.png);
	height: 30px;
	color: #000000;
	padding: 0px 0px 0px 10px;
	border-width:0;
	text-align:left;
}
#cart tr.odd { 
    background: #ebebeb; 
}
#cart tr.even { 
    background: #f6f5f5; 
}

#cart td.prodrow  {
	padding: 5px;
	vertical-align:top;
}

#cart td.prodrow a {
	display:block;
	margin:7px 10px 0 0;
}


#cart td.price {
	color: #2b5913;
	font-size: 115%;
	padding-top:10px;
}
/****************  items  ***********************/

#cart table.cart-item {
	margin:0;
}
#cart table.cart-item td {
	margin:0;
	padding:0;
    vertical-align:top;
}

#cart table.cart-item .cart-image {
    width:50px;
    font-size:8px;
    text-align:center;
    padding-right:5px;
}

#cart table.cart-item .cart-image img { 
	border: 1px solid #d7d7d7; 
}


/****************  quantity  ***********************/
#cart .control {
	padding:0;
	position:relative;
}

#cart input.quantity {
	font-size: 115%;
	text-align: center;
	width: 35px;
}

#cart td .quantity-tbl,
#cart td .quantity-tbl td {
     border: 0;
     margin:0;
}

#cart .updatingQuantity {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:40;
    background:#000000 url(../../../../core/assets/images/laoding2.gif) no-repeat 25% 50%;
}


/****************  options popup  ***********************/
#cart .options {
    position:relative;
    z-index:1;
}

#cart .options .infoicon {
    position:relative;
    z-index:2;
}

#cart .options .exp-dropmenu {
    display:none;
    position:absolute;
    top:20px;
    left:0;
    z-index:10;
    border:1px solid #333;
    border-width:0px 2px 2px 0px;
}

#cart .options:hover .exp-dropmenu {
    display:block;
}

#cart .exp-dropmenu .bd {
    padding:2px 8px;
}

#cart .exp-dropmenu ul li {
    padding:2px 0px;
    font-size:85%;
    color:#333333;
    white-space:nowrap;
}

#cart .exp-dropmenu h6 {
    margin:2px 0 0 0;
    white-space:nowrap;
}


/*************  END CART STYLES ****************/


/****************  Checkout page styles  ***********************/
.cart.checkout {
    position:relative;
/*  line-height:1.5em;*/
    *width:100%!important;
}

.cart.checkout h2 {
    padding:5px 0;
    border:1px solid #999;
    border-width:1px 0;
    background:#f2f1c3;
    margin-bottom:8px;
}

.cart.checkout a {
	text-decoration:none;
}

.separate {
	padding:5px 0;
	border-bottom:1px dotted #999;
	margin:0 0 5px 0;
	width:100%;
	_overflow:hidden;
}

.cart.checkout .totals {
	position:absolute;
	right:0;
	top:0;
}

.cart.checkout .details {
	font-size:120%;
	color:#959595;
}
.cart.checkout .details .carttotal {
	font-size:130%;
	color:#195908;
}

.cart.checkout .ccinfo  {
	list-style:none;
	border-left:3px solid #116c8d;
	padding-left:10px;
	line-height:1.2em;
	margin:5px 0 5px 5px;
}
.cart.checkout .hide,
.cchide  {
	display:none!important;
}

.cart.checkout .onlyoption  {
	color:#ccc;
}

#shpAddSwp,
#bllAddSwp {
    float:left;
}
#shpAddSwp address,
#bllAddSwp address {
    float:left;
    font-weight:bold;
    color:#111;
    padding:0 30px 0 0;
}


#shoppingcartwrapper {
	overflow:hidden;
}

.shipping-address,
.billing-address,
.shippingmethod {
    margin:0px 0;
    padding:5px;
    position:relative;
    float:left;
    clear:both;
    width:100%;
}
.shippingmethod strong {
    white-space:nowrap;
    float:left;
}
.shippingmethod .shippingmethodimg {
    float:left;
}

#shipping-service {
    padding:0 30px 0 0;
}

.billing-address .bracket,
.shipping-address .bracket,
.shippingmethod .bracket {
    padding:5px;
    margin-left:0px;
    background:url(../images/bracket.gif) no-repeat 0 50%;
    padding:15px 0 0 20px;
    display:block;
    height:37px;
    float:left;
}
.shippingmethod .shippingmethodimg {
    float:left;
    border:1px solid #555;
    margin-right:10px;
}

.addressswitch a.addAddressLink {
	display:block;
	padding:3px 25px;
	background:url(../skin/ecom_add.gif) 10px 50% no-repeat;
	text-align:left;
}

#expresscheckout {
    *width:588px;
    *margin-left:-10px;

}
.cartitems {
    margin-bottom:0;
}

.shipping-info {
    position:relative;
}
/*
#billingadshippinginfo {
    float:left;
}
*/
/******* Panel Adress Styles *******/
.exp-dropmenu ul {
    margin:0;
    padding:0;
}

.exp-dropmenu ul li {
    margin:0;
    padding:0;
    list-style:none;
    _border:1px solid #ffffff;
    text-align:left;
}

.exp-dropmenu ul li a {
    display:block;
    padding:4px 10px;
    color:#005aac;
}
.exp-dropmenu ul li a:hover {
    color:#023563;
    background:#e2e9f0;
}


#miltiaddresslink {
    position:absolute;
    top:5px;
    right:0;
}

.exp-dropmenu address.address {
    margin:0;
    border:none;
    border-top:1px solid #ededed;
    line-height:1.2em;
    font-size:90%;
    padding:5px 10px;
    color:#838383;
    display:block;
    text-align:left;
}
.exp-dropmenu .address.current,
#shippingmethodoptions .shpmthdopswtch.current {
    background:url(../skin/accepted.png) #f1faef no-repeat 99% 5px;
}
.exp-dropmenu .address:hover {
    cursor:pointer;
    background-color:#dce5ed;
}



#shippingmethodoptions_c .underlay,
#shippingaddressswitch_c .underlay,
#calculators_c .underlay,
#billingaddressswitch_c .underlay
{
    left:-1px;
    right:-1px;
    bottom:-1px;
}

/*end*/

/**** adding addressform ****/
#addressform .bd,
#ordermessageform .bd {
    text-align:left;
}
#addressform .control,
#ordermessageform .control {
    width:100%;
}
#addressform .label,
#ordermessageform .label {
    display:block;
    width:110px;
    float:left;
    text-align:right;
    font-weight:bold;
    padding:3px 10px 3px 0;
} 
#addressform input.text,
#ordermessageform input.text {
    border:1px solid #59698d;
    width:160px;
}
#ordermessageform textarea {
    border:1px solid #59698d;
    width:300px;
    height:200px;
    float:left;
    margin:0;
}
#ordermessageform .button {
    margin-top:20px;
    margin-left:120px;
}

/**** adding addressform ****/
#addressform .bd {
    text-align:left;
}
#addressform .control {
    float:left;
    width:100%;
}
#addressform .label {
    display:block;
    width:150px;
    float:left;
    text-align:right;
    font-weight:bold;
    padding:3px 10px 3px 0;
} 
#addressform input.text {
    border:1px solid #59698d;
    width:160px;
}

#addressform #saveaddressControl{
    float:left;
    width:90%;
    text-align:center;
    padding:10px;
    margin-top:10px;
    border-top:1px solid #9fabaf;
}

#addressform .button {
    border:1px solid #59698d;
    background:#7d98b8;
}

#addressform #state {
    width:166px;
}

#addressform #state {
    width:166px;
}

/*end*/



.billing-method {
    border:3px solid #F2F1C3;
    padding:5px;
    margin:10px 0;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    position:relative;
    padding-top:10px;
}

.billing-method h4 {
    position:absolute;
    top:-10px;
    left:20px;
    padding:0 5px;
    background:#ffffff;
}

a.removefromcart {
	background-image: url(../images/remove_from_cart.png);
	background-repeat: no-repeat;
	/*display: block;*/
	padding:1px 0 3px 20px;
}
a.backtolist {
	background: url(../../../../core/assets/imagesbacktolist.png) 0px 50%;
	background-repeat: no-repeat;
	padding-left: 20px;
}

/****************  quicklinks  ***********************/

.store.quick-links ul,
.store.quick-links ul li {
    padding:0;
    margin:0;
    list-style:none;
}
.store.quick-links ul li a {
    display:block;
    padding:3px 0 3px 20px;
}

.store.quick-links a.addressbook {
	background-image: url(../images/addressbook.png);
	background-repeat: no-repeat;
}

.store.quick-links a.password {
	background-image: url(../../../../core/assets/images/lock.png);
	background-repeat: no-repeat;
}

.store.quick-links a.viewcart {
	background-image: url(../images/view_cart.png);
	background-repeat: no-repeat;
}

.store.quick-links a.checkout {
    background-image:url(../images/checkout.png);
    background-repeat:no-repeat;
}

.store.quick-links .login {
    background:transparent url(../../../../core/assets/images/lock.png) no-repeat scroll 0 50%;
}

.store.quick-links a.logout {
	background:url(../../../../core/assets/images/logout.png) no-repeat 0 50%;
}

.store.quick-links a.profile {
	background-image: url(../images/personal.png);
	background-repeat: no-repeat;
}
.store.quick-links a.checkoutnow {
	background-image: url(../images/checkout.png);
	background-repeat: no-repeat;
}

.store.quick-links a.vieworders {
	background-image: url(../../../../core/assets/images/view.png);
	background-repeat: no-repeat;
}
