/***  GENERAL CART STYLES  ***********/
#cartbox {
	border : 1px solid #8E8E8E;
}

#cartbox table td.cart-totals-title {
	text-align  : right;
	font-weight : bold;
}

/****************  cart head  ***********************/
#cart-top {
	height     : 38px;
	position   : relative;
	background : url(../images/cart_hd_bg.png) repeat-x;
}

#cart-top .cart-total-label {
	padding : 10px 0 0 10px;
}

#cart-top .cart-total-label .carttotal {
	font-weight : bold;
	margin      : 0;
}

#cart-top .checkout-now-btn {
	position : absolute;
	right    : 0;
	top      : 0;
}

#cart-top .checkout-now-btn img {
	float : left;
}

/****************  cart body  ***********************/
.no-items {
	background : #D4D4D4;
	text-align : center;
	padding    : 5px;
}

table#cart table,
table#cart table td {
	border : 0 none;
}

#cart tr.odd {
	background : #ebebeb;
}

#cart tr.even {
	background : #000000;
}

#cart td.prodrow {
	padding        : 5px;
	vertical-align : top;
}

#cart td.prodrow a {
	display : block;
	margin  : 2px 10px 0 0;
}

#cart td.price {
	color       : #2b5913;
	font-size   : 115%;
	padding-top : 10px;
}

/****************  items  ***********************/

#cart table.cart-item {
	margin : 0;
}

#cart table.cart-item td {
	margin  : 0;
	padding : 0;
}

#cart table.cart-item .cart-image {
	width         : 50px;
	font-size     : 8px;
	text-align    : center;
	padding-right : 5px;
}

/****************  quantity  ***********************/
#cart .control {
	padding  : 0;
	position : relative;
}

#cart input.quantity {
	font-size  : 115%;
	text-align : center;
	width      : 35px;
}

#cart td .quantity-tbl,
#cart td .quantity-tbl td {
	border : 0;
	margin : 0;
}

#cart .updatingQuantity {
	position   : absolute;
	top        : 0;
	right      : 0;
	left       : 0;
	bottom     : 0;
	z-index    : 40;
	background : #000000 url(../../../../core/assets/images/loading2.gif) no-repeat 25% 50%;
}

/****************  options popup  ***********************/
#cart .options {
	position : relative;
	z-index  : 1;
}

#cart .options .infoicon {
	position : relative;
	z-index  : 2;
}

#cart .options .exp-dropmenu {
	display      : none;
	position     : absolute;
	top          : 20px;
	left         : 0;
	z-index      : 10;
	border       : 1px solid #333;
	border-width : 0px 2px 2px 0px;
}

#cart .options:hover .exp-dropmenu {
	display : block;
	background:#ffffff;
}

#cart .exp-dropmenu .bd {
	padding : 2px 8px;
}

#cart .exp-dropmenu ul, .extra-data ul {
	margin-top : 0;
	margin-bottom: 0;
	padding-left: 12px;
}

#cart .exp-dropmenu .type-icon {
    display:block;
    width:14px;
    height:7px;
    position:absolute;
    left:10px;
    top:-7px;
    background: url(../../../../../framework/core/assets/images/panel/point.gif) no-repeat;
}

#cart .exp-dropmenu ul li {
	padding     : 2px 0px;
	font-size   : 85%;
	color       : #333333;
	white-space : nowrap;
}

#cart .exp-dropmenu h6 {
	margin      : 2px 0 0 0;
	white-space : nowrap;
}

/* discount code styles */
.input-code .control {
	display        : inline-block;
	*display       : inline;
	zoom           : 1;
	vertical-align : bottom;
}

/*************  END CART STYLES ****************/

/****************  Checkout page styles  ***********************/
.cart.checkout {
	position : relative;
}

.cart.checkout h2 {
	padding       : 4px 0;
	padding-left  : 4px;
	border        : 1px solid #999;
	border-width  : 1px 0;
	background    : #f2f1c3;
	margin-bottom : 8px;
}

.cart.checkout a {
	text-decoration : none;
}

.separate {
	padding       : 5px 0;
	border-bottom : 1px dotted #999;
	margin        : 0 0 5px 0;
	width         : 100%;
}

.cart.checkout .totals {
	position : absolute;
	right    : 0;
	top      : 55px;
}

.cart.checkout .details {
	font-size : 120%;
	color     : #959595;
}

.cart.checkout .details .carttotal {
	font-size : 130%;
	color     : #195908;
}

.cart.checkout #ccinfo {
	list-style   : none;
	border-left  : 3px solid #116c8d;
	padding-left : 10px;
	line-height  : 1.2em;
	margin       : 5px 0 5px 5px;
}

.cart.checkout .hide,
.cchide {
	display : none !important;
}

.cart.checkout .onlyoption {
	color : #ccc;
}

#shpAddSwp,
#bllAddSwp {
	float : left;
}

#shpAddSwp address,
#bllAddSwp address {
	float       : left;
	font-weight : bold;
	color       : #111;
	padding     : 0 30px 0 0;
}

#shpAddSwp address span,
#bllAddSwp address span {
	display : block;
}

.shipping-address,
.billing-address,
.shippingmethod {
	margin   : 0px 0;
	padding  : 5px;
	position : relative;
	float    : left;
	clear    : both;
	width    : 100%;
}

.shippingmethod strong {
	white-space : nowrap;
	float       : left;
}

.shippingmethod .shippingmethodimg {
	float : left;
}

/* shipping method links */

#expresscheckout a.servopt,
#expresscheckout span.servopt {
	display               : inline-block;
	*display              : inline;
	zoom                  : 1;
	vertical-align        : top;
	padding               : 2px 5px;
	border                : 1px solid #cdcdcd;
	-moz-border-radius    : 3px;
	-webkit-border-radius : 3px;
	border-radius         : 3px;
	background            : #559;
	color                 : #fff;
	color      : #707070;
	background : #efefef;
}

#expresscheckout a.servopt:hover {
	background            : #7d7dc4;
	color                 : #fff;
}

#expresscheckout span.servopt {
	color      : #999999;
	background : #efefef;
	background            : #559;
	color                 : #fff;
}

/****************  quicklinks  ***********************/

.store.quick-links ul,
.store.quick-links ul li {
	padding    : 0;
	margin     : 0;
	list-style : none;
}

.store.quick-links ul li a {
	display : block;
	padding : 3px 0 3px 20px;
}

.store.quick-links a.addressbook {
	background-image  : url(../images/addressbook.png);
	background-repeat : no-repeat;
}

.store.quick-links a.password {
	background-image  : url(../../../../core/assets/images/change_password.png);
	background-repeat : no-repeat;
}

.store.quick-links a.viewcart {
	background-image  : url(../images/view_cart.png);
	background-repeat : no-repeat;
}

.store.quick-links a.checkout {
	background-image  : url(../images/checkout.png);
	background-repeat : no-repeat;
}

.store.quick-links .login {
	background : transparent url(../../../../core/assets/images/change_password.png) no-repeat scroll 0 50%;
}

.store.quick-links a.logout {
	background : url(../../../../core/assets/images/logout.png) no-repeat 0 50%;
}

.store.quick-links a.profile {
	background-image  : url(../images/personal.png);
	background-repeat : no-repeat;
}

.store.quick-links a.checkoutnow {
	background-image  : url(../images/checkout.png);
	background-repeat : no-repeat;
}

.store.quick-links a.vieworders {
	background-image  : url(../../../../core/assets/images/view.png);
	background-repeat : no-repeat;
}

/****************  NEW shipping options  ***********************/

#shipping-method-options .shippingmethodimg {
	float : left;
	margin-right: 22px;
}

#shipping-method-options .sm-info {
	margin-left : 60px;
}

#shipping-method-options .sm-info strong em {
	display   : block;
	color     : #006600;
	font-size : 112%;
}

#shipping-method-options .selected-info {
	display        : block;
	padding-bottom : 10px;
	margin-bottom  : 10px;
}

a.shopping-cart.awesome,
a.reply.awesome,
a.delete.awesome  {
	padding-left: 20px!important;
}

