/*table, td, tr {*/
    /*border : none !important;*/
/*}*/

.required .label {
    /*display : none;*/
}

.state_field .label {
    display : none;
}

.creditcard-form.dropdown {
    overflow : hidden;
}

.creditcard-form.dropdown div {
    float        : left;
    margin-right : 10px;
}

.cvv_ver:hover {
    color           : #6B6B6B;
    text-decoration : none;

}

.creditcard-form {
    padding-left : 10px;
}

.top-nav #yuimenubar ul li a:hover {
    cursor : pointer;
}

/*
eventsCalendar view
*/
.showall .events {
    overflow : hidden;
}

.showall .events .event-image {
    float        : left;
    width        : 125px;
    margin-right : 20px;
}

.showall .events .event-info {
    float : left;
    width : 550px;
}

/*
showall_headlines view
*/
.headlines .events {
    overflow : hidden;
}

/*
show view
*/

.showall .date.past {
    text-decoration: line-through;
}

.seatsContainer {
    background: none repeat scroll 0 0 #EBD98E;
    border-bottom: 1px solid #CEBB6C;
    border-top: 1px solid #CEBB6C;
	padding-right: 5px;
    height: 80px;
    /*margin-bottom: 20px;*/
    width: 100%;
}
.seatStatus {
    clear: left;
    float: left;
    height: 43px;
    line-height: 43px;
    padding: 10px;
    text-align: left;
    width: 60%;
    display: inline;
}
.seatAmount {
    background: none repeat scroll 0 0 #DFCC7A;
    clear: right;
    float: right;
    height: 60px;
    padding: 5px;
    width: 25%;
}
.seatCost {
    color: #CC0000;
    font-size: large;
    font-weight: bold;
}

.product .prod-price {
    text-align: center;
}

.product .prod-price .regular-price {
    color:#395203;
}

.product .prod-price .regular-price.on-sale {
    text-decoration: line-through;
    color:#999;
    font-size:90%;
    font-weight:normal;
}

.product .prod-price .sale-price {
    color:#f00;
	vertical-align: sub;
}

#eventregform .text-control p.helper {
    text-align  : center;
    margin-left : 210px;
    width       : 230px;
}

#eventregform .control .text {
    /*width : 230px;*/
}

#eventregform .text-control p.helper span {
    font-size : 10px;
    display   : block;
}

#eventregform .radiogroup label {
    float       : none;
    padding-top : 10px;
    width       : 100px;
}

#eventregform .checkbox  label {
    /*padding-top : 10px;*/
}

#eventregform .label {
    /*display       : block;*/
    /*display: inline;*/
    font-size     : 114%;
    font-weight   : bold;
    margin-bottom : 4px;
    margin-right  : 5px;
}

#eventregform .seatStatus .label {
    display: inline;
}

#eventregform .p_addElement {
    text-align : center;
}

#eventregform .terms_and_conditions #terms_and_conditionControl {
    width  : 270px;
    margin : auto;
	display: inline;
}

.more-text {
    overflow : hidden;
}
