.search.show-form {
    position:relative;
    text-align:left;
    margin-bottom: .5em;
}

.search.show-form input {
    width:60%;
    margin-top:0;
}

.search.show-form .button {
/*    position:absolute;
    top:4px; */
    right:0;
    /*width:30%;*/
    padding:5px;
    margin-right:0;
}

.search.show-form .control {
    display: inline;
}

.search.show-form h1 {
    margin-bottom: .5em;
}
