{*
 * Copyright (c) 2004-2013 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h2>{'Configure Facebook Like Box View'|gettext}</h2>
{control type=hidden name=url_type value=2}
{control type="url" name="facebook_url" label="Facebook Page URL"|gettext value=$config.facebook_url|default:$smarty.const.URL_FULL placeholder='john.smith.666'}
{control type="text" name="width" label="Width"|gettext filter=integer size=3 value=$config.width|default:"292"}
{control type="text" name="height" label="Height"|gettext filter=integer size=3 value=$config.height|default:""}
{control type="checkbox" name="show_faces" label="Show Faces"|gettext value=1 checked=$config.show_faces}
{control type="dropdown" name="color_scheme" items="Light,Dark"|gettxtlist values=",dark" label="Color Scheme"|gettext value=$config.color_scheme|default:""}
{control type="checkbox" name="stream" label="Stream?"|gettext checked=$config.stream value=1 default=1}
{control type="checkbox" name="show_border" label="Show Border?"|gettext checked=$config.show_border value=1 default=1}
{control type="checkbox" name="show_header" label="Show Header?"|gettext checked=$config.show_header value=1 default=1}
