.calendarmodule .addevent {
	background-image: url(../../../framework/modules-1/calendarmodule/assets/images/addevent.png);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left: 18px;
}

.calendarmodule .listviewlink {
	background-image: url(../../../framework/modules-1/calendarmodule/assets/images/list.gif);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left: 18px;
}

.calendarmodule.cal-default table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-left: 1px solid #A2ADBC;
	font: normal 12px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	text-align: center;
	background-color: #fff;
}

.calendarmodule.cal-default .nav, 
.calendarmodule.cal-default .nav a {
	font: bold 18px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #fff;	
	text-align: center;
	text-decoration: none;
}	


.calendarmodule.cal-default caption {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #A2ADBC;
	color: #fff;	 
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

.calendarmodule.cal-default th {
	font: bold 11px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	background: #D9E2E1;
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	border-top: 1px solid #A2ADBC;
}

.calendarmodule.cal-default .today, 
.calendarmodule.cal-default td.today a, 
.calendarmodule.cal-default td.today a:link, 
.calendarmodule.cal-default td.today a:visited {
	color: #F6F4DA;
	font-weight: bold;
	background: #DF9496;
}

.calendarmodule.cal-default td {
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	width: 14%;
	height: 80px;
	vertical-align:top;
	text-align: left;
	background: #f6f5f1;
}
.calendarmodule.cal-default td.notinmonth {
	background: #e2e2e2;
}

.calendarmodule.cal-default td .number {
	border:1px solid #A2ADBC;
	border-width:0 0 1px 1px;
	background:#fff;
	padding:3px;
	float:right;
	display:block;
	width:15px;
	text-align:right;
}

.calendarmodule.cal-default .calevent{
	font-size:80%;
	padding-left:3px;
	border-bottom:1px dotted #999;
	display:block;
	background:#d5e0ed;
}

