html {
    background:url("images/hdrep.png") #0d3e5c repeat-x ;
    text-align:left;
}

body {
    font-size:15px;
    text-align:center;
    text-align:left;
    font-family: "Trebuchet MS", sans-serif;
    color:#333;
    font-size:;
}

#installer {
    width:900px;
    margin:0px auto 20px auto;
} 

#hd, #bd, #ft {
    position:relative;
}

#hd {
    height:80px;
    z-index:3;
    text-indent:-999px;
    overflow:hidden;
} 

#logo {
    position:absolute;
    top:10px;
    left:0;
    margin:0;
    padding:0;
}

#logo a {
    display:block;
    width:240px;
    height:62px;
    background:url(images/logo.png);
}

#bd {
    z-index:3;
    border:3px solid #fff;
    background:#FCFCEC;
    padding:20px;
       -moz-box-shadow: 0px 0px 10px #333; 
    -webkit-box-shadow: 0px 0px 10px #333; 
            box-shadow: 0px 0px 10px #333; 
               -moz-border-radius: 12px; 
            -webkit-border-radius: 12px; 
                    border-radius: 12px; 
}

#leftcol, #rightcol {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    width:55%;
    margin-left:20px;
    padding-left:20px;
    
}

#rightcol {
    border:1px solid #2e5970;
       -moz-box-shadow: 0px 0px 3px #000; 
    -webkit-box-shadow: 0px 0px 3px #000; 
            box-shadow: 0px 0px 3px #000; 
               -moz-border-radius: 8px; 
            -webkit-border-radius: 8px; 
                    border-radius: 8px; 
    width:30%;
    position:absolute;
    padding-left:60px;
    background:url(images/info.png) no-repeat 13px 20px #ffffff;
    top:30px;
    right:-40px;
}

#ft {
    z-index:3;
}

a {
    color:#1987C0;
}


/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.2.0
build: 2676
*/
/* base.css, part of YUI's CSS Foundation */
h1 {
	/*18px via YUI Fonts CSS foundation*/
	font-size:200%;  
}
h2 {
	/*16px via YUI Fonts CSS foundation*/
	font-size:170%; 
}
h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:140%;  
}
h1,h2,h3 {
	/* top & bottom margin based on font size */
	margin:.5em 0 1em 0;
}
h1,h2,h3,h4,h5,h6,strong {
	/*bringing boldness back to headers and the strong element*/
	font-weight:bold; 
}
h1,h2,h3,h4,h5,h6 {
    color:#e6975d;
    font-weight:normal;
	font-family: "Century Gothic", sans-serif; 
}
abbr,acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
} 
em {
	/*bringing italics back to the em element*/
	font-style:italic;
}
blockquote,ul,ol,dl {
	/*giving blockquotes and lists room to breath*/
	margin:1em;
}
ol,ul,dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}
ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;	
}
ul li {
	/*giving UL's LIs generated disc markers*/
	list-style: disc outside;
	font-size:120%;
    
}
dl dd {
	/*providing spacing for definition terms*/
	margin-left:1em;
}
th,td {
	/*borders and padding to make the table readable*/
	border:1px solid #000;
	padding:.5em;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}
caption {
	/*coordinated margin to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
p,fieldset,table,pre {
	/*so things don't run into each other*/
	margin-bottom:1em;
}
p {
    font-size:120%;

}
#rightcol p {
    font-size:110%;
    font-style:italic;
    margin:20px 0;
    margin-right:40px;
}
