.pagination-links {
    padding:3px 0;
    margin:10px 0;
    border:1px dotted #999;
    border-width:1px 0;
}

.pagination-links .pagination {
    float:right;
}

#pagelinks {
    margin: 0;
    /*padding: 15px 0px;*/
}
#pagelinks .yui-pg-first, #pagelinks .yui-pg-previous, #pagelinks .yui-pg-next, #pagelinks .yui-pg-last, #pagelinks .yui-pg-current, #pagelinks .yui-pg-pages, #pagelinks .yui-pg-page {
    display: inline-block;
    font-family: arial,helvetica,clean,sans-serif;
    padding: 3px 6px;
}
#pagelinks .yui-pg-pages {
    padding: 0;
}
#pagelinks .yui-pg-current {
    padding: 3px 0;
}
#pagelinks a.yui-pg-first:link, #pagelinks a.yui-pg-first:visited, #pagelinks a.yui-pg-first:active, #pagelinks a.yui-pg-first:hover, #pagelinks a.yui-pg-previous:link, #pagelinks a.yui-pg-previous:visited, #pagelinks a.yui-pg-previous:active, #pagelinks a.yui-pg-previous:hover, #pagelinks a.yui-pg-next:link, #pagelinks a.yui-pg-next:visited, #pagelinks a.yui-pg-next:active, #pagelinks a.yui-pg-next:hover, #pagelinks a.yui-pg-last:link, #pagelinks a.yui-pg-last:visited, #pagelinks a.yui-pg-last:active, #pagelinks a.yui-pg-last:hover, #pagelinks a.yui-pg-page:link, #pagelinks a.yui-pg-page:visited, #pagelinks a.yui-pg-page:active, #pagelinks a.yui-pg-page:hover {
    color: #F58400;
    outline: 0 none;
    text-decoration: underline;
}
#pagelinks span.yui-pg-first, #pagelinks span.yui-pg-previous, #pagelinks span.yui-pg-next, #pagelinks span.yui-pg-last {
    color: #888888;
}
#pagelinks .yui-pg-page {
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    padding: 2px 6px;
    text-decoration: none;
}
#pagelinks .yui-pg-current-page {
    background-color: transparent;
    border: medium none;
    font-weight: bold;
    padding: 3px 6px;
}
#pagelinks .yui-pg-page {
    margin-left: 1px;
    margin-right: 1px;
}
#pagelinks .yui-pg-first, #pagelinks .yui-pg-previous {
    padding-left: 0;
}
#pagelinks .yui-pg-next, #pagelinks .yui-pg-last {
    padding-right: 0;
}
#pagelinks .yui-pg-current, #pagelinks .yui-pg-rpp-options {
    margin-left: 1em;
    margin-right: 1em;
}