.exp-skin-rerank ul {
    padding:0;
    margin:0;
    list-style:none;
    overflow: auto;
}

.exp-skin-rerank ul li,
.rerank-proxy {
    text-align: left;
    padding:0;
    background: #efecce url(../images/button/gradient.png) repeat-x; 
}

.exp-skin-rerank ul li *,
.rerank-proxy * {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    margin:5px 5px 5px 0;
}

.exp-skin-rerank ul li .fpdrag,
.rerank-proxy .fpdrag {
    width:10px;
    height:11px;
    margin:7px 5px 0 5px;
    background:url(../images/dragger.png);
}

.exp-skin-rerank ul li .label,
.rerank-proxy .label {
    font-size:11px;
    font-weight:bold;
}

