@import "../../../../core/assets/less/exponent.less";

.socialfeed .shuffle {
	margin-top: 1.5em;
}

.socialfeed .item {
	//.box-shadow(0, 1px, 6px, 0.5);
	margin-bottom: 1.5em;
	margin-top: 2px;
	position: relative;
	font-size: 90%;
	//padding: 4px;
	//width: 320px;
	//height: 320px;
}

.socialfeed .item-box {
	.box-shadow(0, 1px, 6px, 0.5);
	//margin-bottom: 1.5em;
	//position: relative;
	//font-size: 90%;
	//padding: 4px;
	//width: 320px;
	//height: 320px;
}

//.socialfeed .item {
//	-webkit-box-shadow: 0 1px 6px 0 rgba(34, 34, 34, .75);
//	-moz-box-shadow: 0 1px 6px 0 rgba(34, 34, 34, .75);
//	box-shadow: 0 1px 6px 0 rgba(34, 34, 34, .75);
//	margin-bottom: 1.5em;
//	position: relative
//}

.socialfeed .item .fb-message {
	padding: 1em;
	text-decoration: none;
}

.socialfeed .item .fb-time,
.socialfeed .item .tw-date{
	font-style: italic;
	color: #a09d99;
}

.socialfeed .item .post-footer {
	padding: 1em;
	padding-top: 0;
}

.socialfeed .item .post-footer img {
	max-width: 100%;
	height: auto;
}

.socialfeed .item .post-footer img:hover {
	zoom: 120%;
}

.socialfeed .channel-links {
	margin: -33px auto 25px;
	text-align: right;
	width: 90%
}

.socialfeed .channel-links img:hover {
	zoom: 120%;
	margin: 0;
}

.socialfeed .instagram {
	margin-bottom: 30px;
	//width: 100%
}

.socialfeed .fb-like-box {
	width: 100%
}

.socialfeed .fb-like-box iframe, .socialfeed .fb-like-box > span {
	width: 100% !important
}

.socialfeed .item img {
	max-width: 100%;
	height: auto
}

.socialfeed .item .post-content, .socialfeed .item .post-footer {
	padding: 1em;
	//font-size: .8em
}

.socialfeed .item .post-content h4, .socialfeed .item .post-footer h4 {
	font-size: 1.2em
}

.socialfeed .item .excerpt {
	overflow: hidden
}

.socialfeed .item .post-content {
	padding-bottom: 0
}

.socialfeed .item .post-content a, .socialfeed .item .post-content a:active, .socialfeed .item .post-content a:hover, .socialfeed .item .post-content a:link, .socialfeed .item .post-content a:visited {
	color: inherit;
	text-decoration: none
}

.socialfeed .item .post-date {
	color: #a09d99
}

.socialfeed .item .image-roll {
	text-align: center;
	border-bottom: 1px solid #a09d99;
	padding: 10px 0
}

.socialfeed .item .image-roll img {
	height: 44px;
	margin: 0 5px;
	padding: 2px;
	border: 1px solid #a09d99
}

.socialfeed .item .se-logo {
	font-size: 12px;
	width: 2.2em !important;
	line-height: 2.1em !important
}

.socialfeed .item .social {
	width: 15px
}

.socialfeed .item .social.overlay {
	position: absolute;
	bottom: 15px;
	left: 15px
}

.socialfeed .item.quote .post-content, .socialfeed .item.twitter .post-content {
	background: #222;
	color: #fff;
	text-align: center;
	padding-bottom: 1em
}

.socialfeed .item.quote .post-content p, .socialfeed .item.twitter .post-content p {
	font-size: 1.5em;
	font-family: minion-pro, Georgia, "Times New Roman", serif;
	font-weight: 500;
	display: block;
	position: relative;
	padding: 0 20px
}

.socialfeed .item.quote .post-content p::before, .socialfeed .item.twitter .post-content p::before {
	color: #a09d99;
	font-size: 40px;
	content: "\201C";
	position: absolute;
	top: -21px;
	left: 0;
	font-family: "Georgia, serif"
}

.socialfeed .item.quote .post-content p::after, .socialfeed .item.twitter .post-content p::after {
	color: #a09d99;
	font-size: 40px;
	content: "\201D";
	position: absolute;
	bottom: -37px;
	right: 0;
	font-family: "Georgia, serif"
}

.socialfeed .item.quote .post-content .author,
.socialfeed .item.twitter .post-content .author {
	color: #a09d99
}

.socialfeed .item.no-image .post-content {
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 1.1em
}

.socialfeed .item.no-image .post-content q {
	font-size: 1.7em;
	margin-bottom: 2em
}

.pull-right {
	float: right;
}

.socialfeed img.img-responsive {
	width: 100%;
}