html {
    background:url(../images/ftbg.gif) repeat-y #FAF5E1 50% 0;
}

body {
    background:url(../images/siterep.png) repeat-x #FAF5E1;
    font-family:"Trebuchet MS","Arial",sans-serif;
}

#hd, #bd, #ft {
    position:relative;
}

#hd {
    z-index:3;
    height:162px;
    background:url(../images/head.jpg) no-repeat right 55px;
}

#hd .top-nav {
    position:absolute;
    z-index:5;
    bottom:0;
}

#logo {
    position:absolute;
    top:10px;
    left:-60px;
}

#logo img {
    position:absolute;
    top:17px;
    left:25px;
}


#bd {
    z-index:2;
}

#leftcol {
    margin:24px 0;
    float:left;
    width:218px;
}

#centercol {
    float:right;
    width:675px;
    padding:10px 15px 20px 15px;
    margin:24px 0;
    border:3px solid #0A3B4D;
    background:#fbf2d0;
       -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
            border-radius: 12px; 
    font-size:110%;
}

.threecol #centercol {
    width:430px;
    margin-left:20px;
    float:left;
}

#leftcol .module,
#rightcol .module {
    margin:0 0 14px 0;
    border:3px solid #0A3B4D;
    background:#fbf2d0;
    padding:0 10px 10px 10px;
       -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
            border-radius: 12px; 
}

#rightcol {
    margin:24px 0;
    float:right;
    width:218px;
    padding:5px 0;
}

#ft {
    color:#a8a8a8;
    padding-top:14px;
    text-align:center;
    z-index:1;
    background:#0A3B4D;
       -moz-border-radius-topleft: 12px; 
    -webkit-border-top-left-radius: 12px; 
            border-top-left-radius: 12px; 
       -moz-border-radius-topright: 12px; 
    -webkit-border-top-right-radius: 12px; 
            border-top-right-radius: 12px; 
}

#ft a {
    color:#fff;
    text-decoration:none;
}

a {
    color:#b55c0b;
    text-decoration:none;
}

a:hover,
a:focus {
    color:#b55c0b;
    text-decoration:underline;
}


/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 3.0.0
build: 1549
*/
/* base.css, part of YUI's CSS Foundation */
h1 {
	/*18px via YUI Fonts CSS foundation*/
	font-size:28px;  
}
h2 {
	/*16px via YUI Fonts CSS foundation*/
	font-size:22px; 
}
h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:18px;  
}
h1,h2,h3 {
	/* top & bottom margin based on font size */
	margin:.25em 0 .5em 0;
}
h1,h2,h3,h4,h5,h6,strong {
	/*bringing boldness back to headers and the strong element*/
	font-weight:bold; 
}
h1,h2,h3 {
	font-weight:normal;
}
h1,h2,h3,h4,h5,h6 {
	color:#834206;
}
abbr,acronym {
    /*indicating to users that more info is available */
    border-bottom:1px dotted #000;
    cursor:help;
} 
em {
	/*bringing italics back to the em element*/
	font-style:italic;
}
blockquote,ul,ol,dl {
	/*giving blockquotes and lists room to breath*/
	margin:1em;
}
ol,ul,dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}
ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;	
}
ul li {
	/*giving UL's LIs generated disc markers*/
	list-style: disc outside;
}
dl dd {
	/*providing spacing for definition terms*/
	margin-left:1em;
}
th,td {
	/*borders and padding to make the table readable*/
	padding:.5em;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}
caption {
	/*coordinated margin to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
p,fieldset,table,pre {
	/*so things don't run into each other*/
	margin-bottom:1em;
}
.bodycopy {
    line-height:1.5em;
}

/****************  OIC Footer  ***********************/

#oicinfo {
    clear: both;
    text-align: center;
    color:#a5a5a5;
    position: relative;
    clear:both;
    overflow:hidden;
    padding:15px 0;
}

#oicinfo a {
    color:#f68102;
    text-decoration:none;
}

#oicinfo a strong {
    display:inline-block;
    padding:10px 0 10px 38px;
    background:url(../images/oic-logo.gif) no-repeat 0 50%;
    color:#f68102;
}

#oicinfo a strong em {
    display:inline-block;
    margin:0 0px;
    color:#a5a5a5;
}

