#hd .yui-top-nav {
    width:100%;
}

#hd .yui-top-nav .yuimenubar {
    border:0;
    background:none;
}

#hd .yui-top-nav .yuimenubar .yuimenubaritem,
#hd .yui-top-nav .yuimenubar .yuimenubaritemlabel {
    border:0;
}

#hd .yui-top-nav .yuimenubar .yuimenubaritemlabel {
    color:#fff;
    font-size:16px;
}

#hd .yui-top-nav .yuimenubarnav .yuimenubaritem-selected {
    background:#480101;
}

#hd .yui-top-nav .yuimenubarnav .yuimenubaritemlabel-selected {
    margin-left:0;
    border:0;
}

#hd .yui-top-nav .yuimenubarnav .bd {
    background:#0A3B4D;
}

#hd .yui-top-nav .yuimenubarnav .yuimenuitemlabel {
    color:#ffffff;
}

#hd .yui-top-nav .yuimenubarnav .yuimenuitem-selected {
    background:#480101;
}

#hd .yui-top-nav .yuimenubar .yuimenuitemlabel-hassubmenu {
    background-image:url(../images/menuitem_submenuindicator.png);
    background-position: 100% 50%;
    background-repeat:no-repeat;
}

#hd .yui-top-nav .yuimenubar .yuimenubaritemlabel-hassubmenu {
    background-image:url(../images/menubaritem_submenuindicator.png);
    background-position: 100% 50%;
    background-repeat:no-repeat;
}

/****************  sidenav  ***********************/

#leftcol .children-only {
    padding-bottom:10px;
}

.children-only ul,
.children-only ul li {
    list-style:none;
    padding:0;
    margin:0;
}

.children-only ul li {
    padding:3px 0 3px 16px;
    background:url(../images/nbul.gif) 0 50% no-repeat;
}
