.search.show-form {
    background:url(../images/search.gif) no-repeat 100% 0;
    height:33px;
    width:250px;
    padding:5px 0 0 5px;
    position:absolute;
    right:0;
    top:22px;
}

.search.show-form .control {
    margin:0;
    padding:0;
    float:left;
}

.search.show-form input.text {
    width:206px;
    background:none;
    border:0;
    padding:5px;
    color:#004b74;
    padding:4px 5px;
     -moz-box-shadow:none;
  -webkit-box-shadow:none;
          box-shadow:none;
}

.search.show-form button.submit {
    border:0;
    background:none;
    width:30px;
    height:0px;
    overflow:hidden;
    padding-top:20px;
    -moz-border-radius: 0px; /* FF1+ */
    -webkit-border-radius: 0px; /* Saf3+, Chrome */
    border-radius: 0px; /* Opera 10.5, IE 9 */
       -moz-box-shadow:0 0 0 0; 
    -webkit-box-shadow:0 0 0 0; 
            box-shadow:0 0 0 0; 
}

