{*
 * Copyright (c) 2004-2013 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h3>{'Slideshow Slider View Settings'|gettext}</h3>
{control type=text name="width" label="Slideshow Width"|gettext value=$config.width|default:320 size="5"}
{control type=text name="height" label="Slideshow Height"|gettext value=$config.height|default:200 size="5"}
{control type=text name="interval" label="Seconds per slide"|gettext value=$config.interval|default:5 size="5"}
{control type=dropdown name="anim"
items="None,Fade,Slide Horizontal,Slide Vertical"|gettxtlist
values="none,fade,h-slide,v-slide" label="Animation Type" value=$config.anim|default:"fade"}
{control type=text name="speed" label="Animation Speed"|gettext value=$config.speed|default:5 size="2"}

<h4>{'Configure the Selection Thumbnail area'|gettext}</h4>
{control type=text name="th_width" label="Thumbnail Width"|gettext value=$config.th_width|default:64 size="5"}
{control type=text name="th_height" label="Thumbnail Height"|gettext value=$config.th_height|default:40 size="5"}
{control type=text name="sel_width" label="Selector Width"|gettext value=$config.sel_width|default:180 size="5"}
{control type=text name="sel_height" label="Selector Height (0 = in proportion to slide)"|gettext value=$config.sel_height|default:55 size="5"}
{control type=checkbox name="hidetext" label="Hide Title text"|gettext checked=$config.hidetext value=1}

{*
{control type=text name="quality" label="Slide Thumbnail JPEG Quality"|gettext|cat:" (0 - 95, 100)<br><small>"|cat:("If quality is set to 100, the raw image will be used instead of thumbnailing"|gettext)|cat:"</small>" value=$config.quality|default:$smarty.const.THUMB_QUALITY size="5"}}
{control type=checkbox name="hidetext" label="Hide Title and Description text in slides"|gettext checked=$config.hidetext value=1}
{control type="checkbox" name="hidecontrols" label="Hide controls"|gettext checked=$config.hidecontrols|default:0 value=1}

<h4>{'Configure the box size of the Slideshow frame'|gettext}</h4>
{control type=text name="pa_slideshow_width" label="Slideshow Width"|gettext value=$config.pa_slideshow_width|default:100 size="5"}
{control type=text name="pa_slideshow_height" label="Slideshow Height"|gettext value=$config.pa_slideshow_height|default:100 size="5"}

<h4>{'Show or hide Slideshow Controls'|gettext}</h4>
{control type=checkbox name="pa_show_controls" label="Show Slideshow Controls"|gettext checked=$config.pa_show_controls value=1}
*}