.control {
  overflow: auto;
}
.control .label,
.control label {
  display: block;
  float: left;
  width: 150px;
  text-align: right;
  padding-right: 5px;
  white-space: normal;
  line-height: normal;
}
.control .spacer {
  display: block !important;
  background: transparent;
}
.control .label:empty {
  display: block !important;
}
.control.radio .label {
  width: auto;
}
.datetime.date,
.control table,
.control.radiogroup table,
.control.radio table,
.control.checkbox table {
  display: inline;
}
.control-desc {
  margin-left: 160px;
}
.control.checkbox .control-desc {
  margin-left: 175px;
}
.formmoduleedit .item-actions {
  display: inline;
  float: right;
}
