.control {
  padding: 4px 0;
  margin-bottom: 4px;
}
.control .label {
  display: block;
  font-size: 114%;
  margin-bottom: 0.5px;
  margin-right: 5px;
  font-weight: bold;
}
.control .spacer {
  display: none;
}
.control .label .required,
.control.required .label .required {
  color: #ff0000;
}
.control .control-desc {
  font-size: 85%;
  font-style: italic;
}
.control .label .example {
  color: #999;
  font-size: 80%;
  font-weight: normal;
  font-style: italic;
  display: block;
}
.control textarea {
  font-size: 114%;
  padding: 5px;
  border: 1px solid #D3D3D3;
  -moz-box-shadow: inset 0px 0px 4px #dedede;
  -webkit-box-shadow: inset 0px 0px 4px #dedede;
  box-shadow: inset 0px 0px 4px #dedede;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.control.field-error label {
  color: red;
  font-weight: bold;
}
.control.field-error input.text,
.control.field-error input.password,
.control.field-error select.select,
.control.field-error textarea.textarea {
  border: 2px solid red;
}
button.button,
input.button {
  margin-right: 5px;
}
.control.radiogroup .control.radio {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
  border: 0 !important;
}
.control.radiogroup table,
.control.radio table,
.control.checkbox table {
  margin: 0 0 0 0;
  border: 0 !important;
}
.control.radiogroup td,
.control.radio td,
.control.checkbox td {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 0;
  vertical-align: middle;
}
.control.radio td.input,
.control.checkbox td.input {
  width: 0px;
}
.control .nowrap {
  white-space: nowrap;
}
.control.checkbox tr td:hover,
.control.radio tr td:hover {
  border: 0;
}
.control.checkbox tr:hover,
.control.radio tr:hover {
  border: 0;
  background: none;
}
input.checkbox,
input.radio {
  margin-right: 5px;
}
.module.forms input.checkbox {
  margin-top: 3px;
}
.control .radiogroup-label {
  display: inline;
  white-space: normal;
}
.control .datetime.date {
  padding-left: 5px;
}
.datetime.date .text {
  width: 60px;
  margin-left: 5px;
}
.control.thirds {
  float: left;
  margin-right: 2em;
}
.control.thirds.last {
  clear: right;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input,
select {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 0.9em;
  box-shadow: inset 0 1px 3px #ddd;
  -moz-box-shadow: inset 0 1px 3px #ddd;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s linear border;
  -moz-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  -ms-transition: 0.3s linear border;
  transition: 0.3s linear border;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
select {
  margin-bottom: 0;
}
input:focus,
input:hover,
input:hover:valid,
textarea:focus,
textarea:hover,
textarea:hover:valid,
select:focus,
select:hover,
select:hover:valid {
  outline: 0;
  outline: thin dotted \9;
  border-color: #8FD6F2;
  box-shadow: 0 0 5px #11AFED;
  -moz-box-shadow: 0 0 5px #11AFED;
  -webkit-box-shadow: 0 0 5px #11AFED;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
  border-color: transparent;
}
input:focus:invalid,
input:hover:invalid,
textarea:focus:invalid,
textarea:hover:invalid,
select:focus:invalid,
select:hover:invalid {
  color: #b94a48;
  border: 1px solid #ee5f5b;
}
input:focus:invalid:focus,
input:hover:invalid:hover,
textarea:focus:invalid:focus,
textarea:hover:invalid:hover,
select:focus:invalid:focus,
select:hover:invalid:hover {
  border-color: #e9322d;
  box-shadow: 0 0 5px #ce1a15;
  -moz-box-shadow: 0 0 5px #ce1a15;
  -webkit-box-shadow: 0 0 5px #ce1a15;
}
select {
  width: auto;
  border: 1px solid #ccc;
  background-color: white;
}
select[multiple] {
  height: auto;
}
input[type="number"] {
  width: 60px;
}
.range-control.control {
  width: 295px;
}
label {
  padding: 4px 0;
  margin-bottom: 0.5px;
  vertical-align: middle;
  font-size: 90%;
}
.range-control.control label {
  margin-top: 0;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  padding: 0.35em 0 0.75em;
}
legend {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 125%;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.alt-body {
  padding: 4px;
  border: 1px solid #999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.alt-item {
  padding: 8px;
  border: 1px solid #999;
  background: #dedede;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.alt-control .control {
  margin-bottom: 0;
  padding-bottom: 0;
}
