/****************  basic, light styles  ***********************/
.control {
    padding:4px 0;
    margin-bottom:4px;
}

.control .label{
    display:block;
    font-size:114%;
    margin-bottom:4px;
	margin-right:5px;
    font-weight:bold;
}

.control .label .required,
.control.required .label .required {
    color:#ff0000;
}

.control .control-desc {
    font-size: 85%;
    font-style: italic;
}

.control .label .example {
    color:#999;
    font-size:80%;
    font-weight:normal;
    font-style:italic;
    display:block;
}

.control input.password,
.control input.text,
.control textarea {
    font-size:114%;
	padding:5px;
	border:1px solid #D3D3D3;
       -moz-box-shadow: inset 0px 0px 4px #dedede; 
    -webkit-box-shadow: inset 0px 0px 4px #dedede; 
            box-shadow: inset 0px 0px 4px #dedede; 
               -moz-border-radius: 4px; 
            -webkit-border-radius: 4px; 
                    border-radius: 4px; 
}

/****************  field errors  ***********************/

.control.field-error label {
    color: red;
    font-weight: bold;
}

.control.field-error input.text,
.control.field-error input.password,
.control.field-error select.select,
.control.field-error textarea.textarea {
	border: 2px solid red;
}

/****************  buttons  ***********************/

button.button,
input.button { 
    margin-right:5px;
}

/****************  checks and radios  ***********************/

.control.radiogroup .control.radio {
    margin:0 0 0 0!important;
    padding:0 0 0 0!important;
    border:0!important;
}
.control.radiogroup table,
.control.radio table,
.control.checkbox table {
    margin:0 0 0 0;
    border:0!important;
}
.control.radiogroup td,
.control.radio td,
.control.checkbox td {
    padding:0 0 0 0;
    margin:0 0 0 0;
    border:0;
    vertical-align:middle;
}

.control.radio td.input,
.control.checkbox td.input {
    width:0px;
}

.control .nowrap {
    white-space:nowrap;
}

.control.checkbox tr td:hover,
.control.radio tr td:hover {
    border:0;
}

.control.checkbox tr:hover,
.control.radio tr:hover {
    border:0;
    background:none;
}
.control.checkbox .label,
.control.radio .label {

}

input.checkbox,
input.radio {
	float:left;
	margin-right:5px;
}

.control .radiogroup-label {
    display:inline;
    white-space:normal;
}

.control .datetime.date {
    padding-left: 5px;
}

/****************  quick style helpers  ***********************/
.control.thirds {
    float:left;
    margin-right:2em;
}

.control.thirds.last {
    clear:right;
}
