/****************  basic, light styles  ***********************/
.control {
    padding:4px 0;
    margin-bottom:4px;
}

.control .label{
    display:block;
    font-size:114%;
    margin-bottom:4px;
	margin-right:5px;
    font-weight:bold;
}
.control .spacer {
  display: none;
}

.control .label .required,
.control.required .label .required {
    color:#ff0000;
}

.control .control-desc {
    font-size: 85%;
    font-style: italic;
}

.control .label .example {
    color:#999;
    font-size:80%;
    font-weight:normal;
    font-style:italic;
    display:block;
}

/*.control input.password,*/
/*.control input.text,*/
.control textarea {
    font-size:114%;
	padding:5px;
	border:1px solid #D3D3D3;
       -moz-box-shadow: inset 0px 0px 4px #dedede;
    -webkit-box-shadow: inset 0px 0px 4px #dedede;
            box-shadow: inset 0px 0px 4px #dedede;
               -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
}

/****************  field errors  ***********************/

.control.field-error label {
    color: red;
    font-weight: bold;
}

.control.field-error input.text,
.control.field-error input.password,
.control.field-error select.select,
.control.field-error textarea.textarea {
	border: 2px solid red;
}

/****************  buttons  ***********************/

button.button,
input.button { 
    margin-right:5px;
}

/****************  checks and radios  ***********************/

.control.radiogroup .control.radio {
    margin:0 0 0 0!important;
    padding:0 0 0 0!important;
    border:0!important;
}
.control.radiogroup table,
.control.radio table,
.control.checkbox table {
    margin:0 0 0 0;
    border:0!important;
}
.control.radiogroup td,
.control.radio td,
.control.checkbox td {
    padding:0 0 0 0;
    margin:0 0 0 0;
    border:0;
    vertical-align:middle;
}

.control.radio td.input,
.control.checkbox td.input {
    width:0px;
}

.control .nowrap {
    white-space:nowrap;
}

.control.checkbox tr td:hover,
.control.radio tr td:hover {
    border:0;
}

.control.checkbox tr:hover,
.control.radio tr:hover {
    border:0;
    background:none;
}
.control.checkbox .label,
.control.radio .label {

}

input.checkbox,
input.radio {
	/*float:left;*/
	margin-right:5px;
}

.module.forms input.checkbox {
	/*float:left;*/
	margin-top:12px;
}

.control .radiogroup-label {
    display:inline;
    white-space:normal;
}

.control .datetime.date {
    padding-left: 5px;
}

/****************  quick style helpers  ***********************/
.control.thirds {
    float:left;
    margin-right:2em;
}

.control.thirds.last {
    clear:right;
}

/****** yui forms css *******/
input,
select {
  padding: 6px 9px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 5px; 
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #ddd;
}
select {
  margin-bottom: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  border-color: #8FD6F2;
  box-shadow: 0 0 5px #11AFED;
}
.yui3-checkbox,
.yui3-radio {
  margin-top: 5px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #ddd;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border: 1px solid #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  box-shadow: 0 0 5px #ce1a15;
}
select {
  width: 220px;
  border: 1px solid #ccc;
  background-color: white;
}
select[multiple] {
  height: auto;
}
label {
  /*display: block;*/
  padding: 4px 0;
  margin-bottom: 2.5px;
  vertical-align: middle;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 125%;
  line-height: 10px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.yui3-form-inline input,
.yui3-form-horizontal input,
.yui3-form-inline textarea,
.yui3-form-horizontal textarea,
.yui3-form-inline select,
.yui3-form-horizontal select,
.yui3-form-inline .yui3-help-inline,
.yui3-form-horizontal .yui3-help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
}
.yui3-form-inline label {
  display: inline-block;
}
.yui3-form-horizontal .yui3-control-group {
  margin-bottom: 10px;
}
.yui3-form-horizontal .yui3-control-group label {
  text-align: right;
  float: left;
  width: 160px;
  margin-right: 10px;
}
.yui3-form-horizontal .yui3-controls {
  margin: 20px 0 0 170px;
}
.yui3-input-rounded {
  border-radius: 20px;
  padding-left: 10px;
}
.yui3-group {
  margin-bottom: 10px;
}
.yui3-group input {
  display: block;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.yui3-group :focus {
  z-index: 2;
}
.yui3-group :first-child {
  border-radius: 4px 4px 0 0;
  top: 1px;
}
.yui3-group :last-child {
  border-radius: 0 0 4px 4px;
  top: -2px;
}
.yui3-input-mini {
  width: 60px;
}
.yui3-input-small {
  width: 90px;
}
.yui3-input-medium {
  width: 150px;
}
.yui3-input-large {
  width: 210px;
}
.yui3-input-xlarge {
  width: 270px;
}
.yui3-input-xxlarge {
  width: 530px;
}
button[type='submit'] {
  font-size: 90%;
}
.yui3-help-inline {
  display: inline-block;
  padding-left: 5px;
  vertical-align: middle;
}
