.exp-panel-container {
	background            : none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	border-radius         : 6px 6px 6px 6px;
	-webkit-border-radius : 6px;
	-moz-border-radius    : 6px;
	display               : block;
	padding               : 10px;

	-webkit-box-shadow    : 0px 0px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow       : 0px 0px 5px rgba(0, 0, 0, 0.5);
	box-shadow            : 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.exp-skin-panel {
	border     : 1px solid #002f2e;
	background : #fff;
}

.exp-skin-panel .yui3-widget-hd {
	padding        : 5px;
	background     : #002f2e;
	color          : #fff;
	font-size      : 13px;
	font-weight    : bold;
	text-transform : uppercase;
}

.exp-skin-panel .yui3-widget-ft {
	padding    : 5px;
	background : #fff;
	text-align : right;
	border-top : #999;
}

.yui3-panel .yui3-widget-hd {
	cursor : default;
}