.exp-panel-rerank {
    visibility:hidden;
}

.exp-panel-rerank .bd {

}

.exp-panel-rerank ul  {
    margin:0;
    padding:0;
}

.exp-panel-rerank ul li {
    margin:0;
    padding:0;
    list-style:none!important;
    position:relative;
    height:33px;
    border:1px solid #b7c0b0;
}

.exp-panel-rerank ul li.odd {
    background:#d7dfd1;
}

.exp-panel-rerank ul li.even {
    background:#e9f2e3;
}

.exp-panel-rerank ul li .fpdrag,
.yui-dd-proxy .fpdrag {
    position:absolute;
    width:40px;
    top:2px;
    left:0;
    height:29px;
    background:url(../images/attachableitems/drag.png) no-repeat 50%;
}
.exp-panel-rerank ul li .fpdrag:hover {
    background:url(../images/attachableitems/drag-h.png) no-repeat 50%;
    cursor:move;
}

.exp-panel-rerank ul li .filepic,
.yui-dd-proxy .filepic {
    position:absolute;
    top:4px;
    left:50px;
}

.exp-panel-rerank ul li .filename,
.yui-dd-proxy .filename {
    position:absolute;
    top:8px;
    color:#333;
    font-size:90%;
    left:100px;
}
