.yui3-module {
  border: 2px solid #D3D3D3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin-top: 4px;
}
.yui3-module .yui3-hd {
  background-color: #CCC1B1;
  position: relative;
}
.yui3-module .yui3-hd h3 {
  border: 0 none;
  margin: 0 25px 0 0;
  padding-bottom: 0 !important;
}
.yui3-module .yui3-hd a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #CCD1E1 #6E7BA0 #6E7BA0 #CCD1E1;
  border-image: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  text-decoration: none;
  text-indent: 9999px;
  top: 4px;
  width: 16px;
}
.yui3-module .yui3-hd a:hover {
  background-color: #8793B8;
}
.yui3-module .yui3-bd {
  clear: both;
  overflow: hidden;
}
.yui3-module .yui3-bd {
  padding-left: 5px;
  padding-right: 5px;
}
.yui3-module .yui3-bd p {
  margin: 0;
  padding: 0.8em 1em 1em;
}
.yui3-module .yui3-hd {
  margin: 0;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
.yui3-module .yui3-bd p em {
  font-weight: bold;
}
.yui3-module a.yui3-remove {
  background-position: 0 0;
}
.yui3-scroll .yui3-hd {
  position: relative;
}
.yui3-scroll .yui3-bd {
  height: 10em;
  overflow: hidden;
}
.yui3-module a.yui3-toggle {
  background-image: url('../images/section_expanded.png');
  background-repeat: no-repeat;
}
.yui3-module.yui3-closed a.yui3-toggle {
  background-image: url('../images/section_collapsed.png');
  background-repeat: no-repeat;
}
.yui3-hd h4 {
  margin: 0;
}
