{*
 * Copyright (c) 2004-2014 OIC Group, Inc.
 *
 * This file is part of Exponent
 *
 * Exponent is free software; you can redistribute
 * it and/or modify it under the terms of the GNU
 * General Public License as published by the Free
 * Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * GPL: http://www.gnu.org/licenses/gpl.txt
 *
 *}

<h2>{'Configure Default View'|gettext}</h2>
{control type="checkbox" name="show_search" label="Display Filter?"|gettext checked=$config.show_search|default:0 value=1 description='Allow user to filter list of displayed items'|gettext}
{control type="checkbox" name="search_title_only" label="Filter Based Only on Title?"|gettext checked=$config.search_title_only|default:0 value=1 description='Default is to use the title and body'|gettext}
