/* generic blog styles */

.blog .post-info {
    margin:5px 0 10px;
}

.blog .exp-comments {
    clear:both;
}

/* blog tag cloud */

.blog.tags_cloud ul,
.blog.tags_cloud ul li {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    list-style:none;
    margin:0;
    margin:0;
}

.blog.tags_cloud ul li {
    margin:0 3px;
}

