/* generic blog styles */

.blog .post-info {
    margin:5px 0 10px;
}

.blog .exp-comments {
    clear:both;
}

.blog ul {
	padding-left: 20px;
	margin-left: 0;
}

/* blog tag cloud */

.blog.cloud ul.item,
.blog.cloud ul.item li {
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:middle;
    list-style:none;
    margin:0;
	padding-left: 0;
}

.blog.cloud ul.item li {
    margin:0 3px;
}

.container-chrome.module-chrome ul {
    padding: 6px 0;
}